@model Atrai.Core.Entity.MarketModel
@{ ViewData["Title"] = "AddMarket";
                Layout = "~/Views/Shared/_adminLayout.cshtml"; }


<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header py-1">
                        <h4>Market Information</h4>

                    </div>

                    @*@Html.HiddenFor(m => m.Id, new { @value = Model.Id })
                        @Html.HiddenFor(m => m.CreateDate, new { @value = Model.CreateDate })
                        @Html.HiddenFor(m => m.LuserId, new { @value = Model.LuserId })*@

                    <div class="card-body">
                        <div class="basic-elements">
                            <form asp-controller="Association" asp-action="AddMarket" method="post" enctype="multipart/form-data">
                                    @if (Model != null)
                                    {
                            <input type="hidden" asp-for="Id" />
                                            <input type="hidden" asp-for="CreateDate" />
                                                            <input type="hidden" asp-for="LuserId" /> }
                                                        else
                                                        {
                                            <input type="hidden" asp-for="Id" value="0" />}

                                    <div class="row">
                                        <div class="col-lg-8">


                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-6 cold-12">
                                                        <label asp-for="MarketCode"></label>
                                                        <input type="text" asp-for="MarketCode" class="form-control" placeholder="">
                                                        <span asp-validation-for="MarketCode" class="text-danger"></span>
                                                    </div>
                                                    <div class="col-md-6 cold-12">
                                                        <label asp-for="Website"></label>
                                                        <input asp-for="Website" class="form-control" placeholder="">
                                                        <span asp-validation-for="Website" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>



                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-6 cold-12">
                                                        <label asp-for="MarketNameEng"></label>
                                                        <input type="text" asp-for="MarketNameEng" class="form-control" placeholder="">
                                                        <span asp-validation-for="MarketNameEng" class="text-danger"></span>
                                                    </div>
                                                    <div class="col-md-6 cold-12">
                                                        <label asp-for="MarketNameBng"></label>
                                                        <input asp-for="MarketNameBng" class="form-control" placeholder="">
                                                        <span asp-validation-for="MarketNameBng" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>




                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-4 cold-12">
                                                        <label asp-for="Floors"></label>
                                                        <input type="text" asp-for="Floors" class="form-control" placeholder="">
                                                        <span asp-validation-for="Floors" class="text-danger"></span>
                                                    </div>
                                                    <div class="col-md-4 cold-12">
                                                        <label asp-for="FirstFloor"></label>
                                                        <input asp-for="FirstFloor" class="form-control" placeholder="">
                                                        <span asp-validation-for="FirstFloor" class="text-danger"></span>
                                                    </div>

                                                    <div class="col-md-4 cold-12">
                                                        <label asp-for="SecoundFloor"></label>
                                                        <input asp-for="SecoundFloor" class="form-control" placeholder="">
                                                        <span asp-validation-for="SecoundFloor" class="text-danger"></span>
                                                    </div>


                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-4 cold-12">
                                                        <label asp-for="ThirdFloor"></label>
                                                        <input type="text" asp-for="ThirdFloor" class="form-control" placeholder="">
                                                        <span asp-validation-for="ThirdFloor" class="text-danger"></span>
                                                    </div>
                                                    <div class="col-md-4 cold-12">
                                                        <label asp-for="FourthFloor"></label>
                                                        <input asp-for="FourthFloor" class="form-control" placeholder="">
                                                        <span asp-validation-for="FourthFloor" class="text-danger"></span>
                                                    </div>

                                                    <div class="col-md-4 cold-12">
                                                        <label asp-for="FifthFloor"></label>
                                                        <input asp-for="FifthFloor" class="form-control" placeholder="">
                                                        <span asp-validation-for="FifthFloor" class="text-danger"></span>
                                                    </div>


                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-6 cold-12">
                                                        <label asp-for="PrName"></label>
                                                        <input type="text" asp-for="PrName" class="form-control" placeholder="">
                                                        <span asp-validation-for="PrName" class="text-danger"></span>
                                                    </div>
                                                    <div class="col-md-6 cold-12">
                                                        <label asp-for="PrPhoneNo"></label>
                                                        <input asp-for="PrPhoneNo" class="form-control" placeholder="">
                                                        <span asp-validation-for="PrPhoneNo" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-6 cold-12">
                                                        <label asp-for="SecName"></label>
                                                        <input type="text" asp-for="SecName" class="form-control" placeholder="">
                                                        <span asp-validation-for="SecName" class="text-danger"></span>
                                                    </div>
                                                    <div class="col-md-6 cold-12">
                                                        <label asp-for="SecPhoneNo"></label>
                                                        <input asp-for="SecPhoneNo" class="form-control" placeholder="">
                                                        <span asp-validation-for="SecPhoneNo" class="text-danger"></span>
                                                    </div>
                                                </div>
                                            </div>



                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-4 cold-12">
                                                        <label asp-for="TotalShop"></label>
                                                        <input type="text" asp-for="TotalShop" class="form-control" placeholder="">
                                                        <span asp-validation-for="TotalShop" class="text-danger"></span>
                                                    </div>
                                                    <div class="col-md-4 cold-12">
                                                        <label asp-for="ActiveMember"></label>
                                                        <input asp-for="ActiveMember" class="form-control" placeholder="">
                                                        <span asp-validation-for="ActiveMember" class="text-danger"></span>
                                                    </div>

                                                    <div class="col-md-4 cold-12">
                                                        <label asp-for="ClosedShop"></label>
                                                        <input asp-for="ClosedShop" class="form-control" placeholder="">
                                                        <span asp-validation-for="ClosedShop" class="text-danger"></span>
                                                    </div>


                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-12 cold-12">
                                                        <label asp-for="Remarks"></label>
                                                        <input type="text" asp-for="Remarks" class="form-control" placeholder="">
                                                        <span asp-validation-for="Remarks" class="text-danger"></span>
                                                    </div>



                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-md-6 cold-12">
                                                        <img src="..@Model.PresidentImagePath" alt="img" id="UploadFile" class="img-thumbnail" style="height: 150px;width:150px" /> <br />
                                                        <input type="file" name="logoPostedFileBase" accept="image/x-png, image/gif, image/jpeg" id="FileUpload" onchange="PreviewImage()" />
                                                    </div>

                                                    <div class="col-md-6 cold-12">
                                                        <img src="..@Model.SecretaryImagePath" alt="img" id="UploadFile1" class="img-thumbnail" style="height: 150px;width:150px" /> <br />
                                                        <input type="file" name="logoPostedFileBase1" accept="image/x-png, image/gif, image/jpeg" id="FileUpload1" onchange="PreviewImage1()" />
                                                    </div>
                                                </div>
                                            </div>



                                            <div class="form-group">
                                                @*<button type="submit" class="btn btn-primary rounded-0"> Save Changes </button>*@


                                                @if (ViewBag.ActionType == "Create")
                                                {
                                    <input type="submit" value="Save Changes" class="btn  btn-primary rounded-0" /> }
                                else if (ViewBag.ActionType == "Edit")
                                {
                            <input type="submit" value="Update Changes" class="btn btn-warning rounded-0" /> }
                        else if (ViewBag.ActionType == "Delete")
                        {
                            <button class="btn btn-danger rounded-0" type="button" onclick="Bank_delete()">Delete</button>}


                                                @Html.ActionLink("Back", "MarketList", "Association", null, new { @class = "btn btn-info rounded-0", @id = "btnBack" })

                                            </div>

                                        </div>
                                    </div>

                                </form>
</div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
</div>


@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {


        });

        function PreviewImage() {
            var oFReader = new FileReader();
            oFReader.readAsDataURL(document.getElementById("FileUpload").files[0]);

            oFReader.onload = function (oFREvent) {
                document.getElementById("UploadFile").src = oFREvent.target.result;
            };
        };


        function PreviewImage1() {
            var oFReader = new FileReader();
            oFReader.readAsDataURL(document.getElementById("FileUpload1").files[0]);

            oFReader.onload = function (oFREvent) {
                document.getElementById("UploadFile1").src = oFREvent.target.result;
            };
        };
    </script>
}