@model Atrai.Core.Entity.ShopModel
@{ ViewData["Title"] = "AddShop";
                Layout = "~/Views/Shared/_adminLayout.cshtml"; }


<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header py-1">
                        <h4>Shop Information</h4>

                    </div>


                    <div class="card-body">
                        <div class="basic-elements">
                            <form asp-controller="Association" asp-action="AddShop" method="post" enctype="multipart/form-data">
                                @if (Model != null)
                                {
                                <input type="hidden" asp-for="Id" />
                                <input type="hidden" asp-for="CreateDate" />
                                <input type="hidden" asp-for="LuserId" /> 
                                }
                                else
                                {
                                <input type="hidden" asp-for="Id" value="0" />
                                }


                                <div class="row">
                                    <div class="col-lg-8">


                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-6 cold-12">
                                                    <label asp-for="ShopCode"></label>
                                                    <input type="text" asp-for="ShopCode" class="form-control" placeholder="">
                                                    <span asp-validation-for="ShopCode" class="text-danger"></span>
                                                </div>
                                                <div class="col-md-6 cold-12">
                                                    <label asp-for="ShopWebSite"></label>
                                                    <input asp-for="ShopWebSite" class="form-control" placeholder="">
                                                    <span asp-validation-for="ShopWebSite" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>



                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-6 cold-12">
                                                    <label asp-for="ShopNameEng"></label>
                                                    <input type="text" asp-for="ShopNameEng" class="form-control" placeholder="">
                                                    <span asp-validation-for="ShopNameEng" class="text-danger"></span>
                                                </div>
                                                <div class="col-md-6 cold-12">
                                                    <label asp-for="ShopNameBng"></label>
                                                    <input asp-for="ShopNameBng" class="form-control" placeholder="">
                                                    <span asp-validation-for="ShopNameBng" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-6 col-12 ">
                                                    @Html.LabelFor(x => x.MarketId)
                                                    @Html.DropDownListFor(x => x.MarketId,
                                                                                            new SelectList((IEnumerable<SelectListItem>)ViewBag.Market, "Value", "Text"), "Select Market", htmlAttributes: new { @class = "form-control", id = "MarketId" })
                                                    @Html.ValidationMessageFor(x => x.MarketId, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-6 col-12">
                                                    <label asp-for="ShopBusinessAddressBng"></label>
                                                    <input type="text" asp-for="ShopBusinessAddressBng" class="form-control" placeholder="">
                                                    <span asp-validation-for="ShopBusinessAddressBng" class="text-danger"></span>
                                                </div>
                                                <div class="col-md-6 col-12">
                                                    <label asp-for="ShopBusinessAddressEng"></label>
                                                    <input type="text" asp-for="ShopBusinessAddressEng" class="form-control" placeholder="">
                                                    <span asp-validation-for="ShopBusinessAddressEng" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>



                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-6 cold-12">
                                                    <label asp-for="HoldingNoBng"></label>
                                                    <input type="text" asp-for="HoldingNoBng" class="form-control" placeholder="">
                                                    <span asp-validation-for="HoldingNoBng" class="text-danger"></span>
                                                </div>
                                                <div class="col-md-6 cold-12">
                                                    <label asp-for="HoldingNoEng"></label>
                                                    <input asp-for="HoldingNoEng" class="form-control" placeholder="">
                                                    <span asp-validation-for="HoldingNoEng" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-4 cold-12">
                                                    <label asp-for="ShopOwnerEng"></label>
                                                    <input type="text" asp-for="ShopOwnerEng" class="form-control" placeholder="">
                                                    <span asp-validation-for="ShopOwnerEng" class="text-danger"></span>
                                                </div>
                                                <div class="col-md-4 cold-12">
                                                    <label asp-for="ShopOwnerBng"></label>
                                                    <input type="text" asp-for="ShopOwnerBng" class="form-control" placeholder="">
                                                    <span asp-validation-for="ShopOwnerBng" class="text-danger"></span>
                                                </div>
                                                <div class="col-md-4 cold-12">
                                                    <label asp-for="ShopMobile"></label>
                                                    <input asp-for="ShopMobile" class="form-control" placeholder="">
                                                    <span asp-validation-for="ShopMobile" class="text-danger"></span>
                                                </div>
                                            </div>
                                        </div>



                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-6 cold-12">
                                                    <img src="..@Model.ShopImagePath" alt="img" id="UploadFile" class="img-thumbnail" style="height: 150px;width:150px" /> <br />
                                                    <input type="file" name="logoPostedFileBase" accept="image/x-png, image/gif, image/jpeg" id="FileUpload" onchange="PreviewImage()" />
                                                </div>
                                            </div>
                                        </div>


                                        <div class="form-group">

                                            @if (ViewBag.ActionType == "Create")
                                            {
                                    <input type="submit" value="Save Changes" class="btn  btn-primary rounded-0" /> }
                                else if (ViewBag.ActionType == "Edit")
                                {
                                    <input type="submit" value="Update Changes" class="btn btn-warning rounded-0" /> }
                                else if (ViewBag.ActionType == "Delete")
                                {
                                    <button class="btn btn-danger rounded-0" type="button" onclick="Bank_delete()">Delete</button>}

                                            @Html.ActionLink("Back", "ShopList", "Association", null, new { @class = "btn btn-info rounded-0", @id = "btnBack" })

                                        </div>

                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
</div>


@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {


        });

        function PreviewImage() {
            var oFReader = new FileReader();
            oFReader.readAsDataURL(document.getElementById("FileUpload").files[0]);

            oFReader.onload = function (oFREvent) {
                document.getElementById("UploadFile").src = oFREvent.target.result;
            };
        };

    </script>
}