@model Atrai.Core.Entity.DeliveryServiceTimingModel
@{
    ViewData["Title"] = "AddDeliveryServiceTiming";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}


<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header py-1">
                        <h4>New Delivery Service Timing Type</h4>

                    </div>

                    @*@Html.HiddenFor(m => m.Id, new { @value = Model.Id })
                    @Html.HiddenFor(m => m.CreateDate, new { @value = Model.CreateDate })
                    @Html.HiddenFor(m => m.LuserId, new { @value = Model.LuserId })*@

                    <div class="card-body">
                        <div class="basic-elements">
                            <form asp-controller="DeliveryService" asp-action="AddDeliveryServiceTiming" method="post">
                                @if (Model != null)
                                {
                                    <input type="hidden" asp-for="Id" />
                                    <input type="hidden" asp-for="CreateDate" />
                                    <input type="hidden" asp-for="LuserId" />
                                }
                                else
                                {
                                    <input type="hidden" asp-for="Id" value="0" />
                                }

                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="form-group">
                                            <label asp-for="TimingName"></label>
                                            <input type="text" asp-for="TimingName" class="form-control" placeholder="eg Enter Delivery Service Timing">
                                            <span asp-validation-for="TimingName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="TimingDescription"></label>
                                            <textarea asp-for="TimingDescription" class="form-control" placeholder="Timing Description"> </textarea>
                                            <span asp-validation-for="TimingDescription" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="FigureForCalculation"></label>
                                            <input asp-for="FigureForCalculation" class="form-control">
                                            <span asp-validation-for="FigureForCalculation" class="text-danger"></span>
                                        </div>

                                        <div class="col-md-6 col-12 ">
                                            <label asp-for="isInActive"></label>
                                            <input asp-for="isInActive" class="form-control" type="checkbox">
                                            <span asp-validation-for="isInActive" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            @*<button type="submit" class="btn btn-primary rounded-0"> Save Changes </button>*@


                                            @if (ViewBag.ActionType == "Create")
                                            {
                                    <input type="submit" value="Save Changes" class="btn  btn-primary rounded-0" /> }
                                else if (ViewBag.ActionType == "Edit")
                                {
                                    <input type="submit" value="Update Changes" class="btn btn-warning rounded-0" /> }
                                else if (ViewBag.ActionType == "Delete")
                                {
                                    <button class="btn btn-danger rounded-0" type="button" onclick="Bank_delete()">Delete</button>}


                                            @Html.ActionLink("Back", "DeliveryServiceTimingList", "DeliveryService", null, new { @class = "btn btn-info rounded-0", @id = "btnBack" })

                                        </div>


                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
</div>