@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Order Allocation";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
    var Id = ViewBag.Id as string;
    var actiontype = ViewBag.ActionType as string;
}
<link href="~/css/accountHeadListGearDropdown.css" rel="stylesheet" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">



<style>
    .tabulator {
        border: none;
    }

    .tabulator-col .tabulator-col-title {
        text-align: center;
    }

    .tabulator-tableholder {
        background-color: white;
    }

    .tabulator[tabulator-layout=fitDataTable] {
        display: inherit;
    }

    .tabulator .tabulator-header .tabulator-col, .tabulator .tabulator-header {
        background-color: white;
        border-right: 1px solid #dee2e6;
    }

    .tabulator-row .tabulator-cell.tabulator-frozen.tabulator-frozen-left {
        border-right: 2px solid #aaaaaa38;
    }

    .tabulator-row .tabulator-cell {
        border-right: 1px solid #aaaaaa38;
        border-left: 1px solid #aaaaaa38;
    }

    .tabulator-cell {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .tabulator .tabulator-row .active-cell {
        overflow: visible;
    }

    .tabulator-row:nth-child(even) {
        background-color: white;
    }

    .tabulator-row {
        border: none;
    }

    #example-table {
        height: auto !important;
        border-bottom: 3px solid #ccc;
        margin-bottom: 10px
    }
    #offcanvasRightCompany{
        width: 40%;
    }
</style>

<div class="col-lg-4">
    <p class="fs-4 fw-bold">Sister Company</p>
</div>

<div class="row" id="change-checkbox">
    <div class="col-12 col-md-12">
        <div class="row account_offcanvas">
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRightCompany" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasRightLabel" style="margin-top: 20px;">Agency</h5>
                    <button onclick="clearModalData()" type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body mx-2">
                    <div id="accountSave">
                        
                    </div>
                </div>
                <div class="modal-footer my-2">
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="offcanvas" id="cancelAgent">Cancel</button>
                    <button id="agencySaveBtn" type="button" class="btn btn-success" style="margin-left: 10px;">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<ul class="nav nav-tabs mt-5">
    <li class="nav-item">
        <a class="nav-link active fw-semibold" href="#" id="company_info">Company Info</a>
    </li>
    <li class="nav-item">
        <a class="nav-link fw-semibold" href="#" id="concern_bank">Concern Bank</a>
    </li>
    <li class="nav-item">
        <a class="nav-link fw-semibold" href="#" id="concern_bank_account">Concern Bank Account</a>
    </li>
    <li class="nav-item">
        <a class="nav-link fw-semibold" href="#" id="supplier/buyer_bank">Supplier/Buyer Bank</a>
    </li>
    <li class="nav-item">
        <a class="nav-link fw-semibold" href="#" id="supplier/buyer_bank_account">Supplier/Buyer Bank Account</a>
    </li>
    
</ul>

<div id="company_info_view_id">
    <div class="d-flex justify-content-end">
        <button type="button" class="btn customize-btn fw-bold" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRightCompany" aria-controls="">Add Company</button>
    </div>
    
    <div class="d-flex justify-content-end">
        <button title="Print" class="btn btn-white border-0" type="button" id="company_info_pdf" style="padding: 0px;padding-bottom: 10px;"
                aria-expanded="false">
            <i class="bi bi-printer fs-5" style=" margin-right: 0px; "></i>
        </button>
        <button title="Export to excel" class="btn btn-white border-0" type="button" id="company_info_excel" style="padding: 0px;padding-bottom: 10px;"
                aria-expanded="false">
            <i class="bi bi-file-earmark-excel fs-5" style=" margin-right: 0px; "></i>
        </button>
    </div>
    <div id="company_info_table"></div>
</div>

@section Scripts
{

    <script src="~/admin_theme_gtr/assets/js/dateRangeMultipleFunctionForAccountsVoucherReport.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="text/javascript" src="https://oss.sheetjs.com/sheetjs/xlsx.full.min.js"></script>

    <script>



    </script>
}