@model Atrai.Model.Core.Entity.BrandModel
@{
    ViewData["Title"] = "AddBrand";
    @if (ViewBag.IsPartialView == 1)
    {
        Layout = "~/Views/Shared/_PrintLayout.cshtml";

    }
    else
    {
        Layout = "~/Views/Shared/_adminLayout.cshtml";
        
    }
}

<style>
    .footer {
        position: fixed;
        bottom: 0;
    }
</style>

<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row mt-5 pt-5">
            <div class="col-md-4 offset-md-4 col-12">
                <div class="card">
            

                    @*@Html.HiddenFor(m => m.Id, new { @value = Model.Id })
                    @Html.HiddenFor(m => m.CreateDate, new { @value = Model.CreateDate })
                    @Html.HiddenFor(m => m.LuserId, new { @value = Model.LuserId })*@

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>New Brand</h4>
                            </div>
                        </div>
                        <div class="basic-elements">
                            <form asp-controller="admin" asp-action="AddBrand" method="post">
                                @if (Model != null)
                                {
                                    <input type="hidden" asp-for="Id" />
                                    <input type="hidden" asp-for="CreateDate" />
                                    <input type="hidden" asp-for="LuserId" />
                                    <input type="hidden" asp-for="IsPartialView" />

                                    
                                }
                                else
                                {
                                    <input type="hidden" asp-for="Id" value="0" />
                                }

                                <div class="row">
                                    <div class="col-md-12 col-12">
                                        <div class="mb-2">
                                            <label class="form-label fw-semibold">
                                                Brand Name
                                            </label>
                                            <input type="text" asp-for="BrandName" class="form-control" placeholder="eg Enter Brand">
                                            <span asp-validation-for="BrandName" class="text-danger"></span>
                                        </div>
                                     
                                        <div class="mb-2">
                                            <label class="form-label fw-semibold">
                                                Description
                                            </label>
                                            <input asp-for="Description" class="form-control" placeholder="Description">
                                            <span asp-validation-for="Description" class="text-danger"></span>
                                        </div>

                               


                                        <div class="">
                                            @*<button type="submit" class="btn btn-primary "> Save Changes </button>*@


                                            @if (ViewBag.ActionType == "Create")
                                            {
                                    <input type="submit" value="Save" class="btn  btn-primary p-2 "/> }
                                else if (ViewBag.ActionType == "Edit")
                                {
                                                <input type="submit" value="Update" class="btn btn-warning p-2 " />
                                            }
                                else if (ViewBag.ActionType == "Delete")
                                {
                                    <button class="btn btn-danger " type="button" onclick="Bank_delete()">Delete</button>}

                                     @if (ViewBag.IsPartialView != 1)
                                     {
                                                @Html.ActionLink(" ", "BrandList", "Admin", null, new { @class = "bi bi-chevron-left btn btn-danger ", @id = "btnBack" })
                                     }
                                        </div>


                                        @*<div class="row text-center m-2">
            <br />
            <div class="col-md-1"></div>
            <div class="col-md-4 col-xs-12 d-block mx-auto">

                @if (ViewBag.ActionType == "Create")
                {
                    <input type="submit" value="Save" class="btn  btn-success btn-block  " />
                }
                else if (ViewBag.ActionType == "Edit")
                {
                    <input type="submit" value="Update" class="btn btn-warning btn-block " />
                }
                else if (ViewBag.ActionType == "Delete")
                {
                    <button class="btn btn-danger btn-block " type="button" onclick="Bank_delete()">Delete</button>
                }


            </div>

            <div class="col-md-4 col-xs-12 d-block mx-auto">
                @Html.ActionLink("Back", "BrandList", "Admin", null, new { @class = "btn btn-info btn-block ", @id = "btnBack" })

            </div>
            <div class="col-md-3"></div>

        </div>*@
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
</div>