@*@model IEnumerable<Invoice.Core.Entity.Loging InfoModel>*@
@{ ViewData["Title"] = "SMS Sending Information";
    Layout = "~/Views/Shared/_adminLayout.cshtml"; }

<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">

                         <h4 style="color: #1976d2;">Log List Of Service Used</h4>
                    </div>

                    <div class="card-body">

                        <div class="table-responsive mt-2">
                            <table id="tbllist" class="display nowrap table table-sm table-hover  table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr></tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot>
                                    <tr></tr>
                                </tfoot>
                            </table>
                        </div>



                    </div>
                </div>

            </div>
        </div>
        <!-- End PAge Content -->
    </div>
</div>



@section Scripts{

    <script type="text/javascript">
                $(function () {
                    var peopleList = $('#tbllist').DataTable({

                        serverSide: true,  
                        "scrollX": true,
                        processing: true,

                        ajax: {
                            url: '@Url.Action("GetServiceUsedLogList", "Admin")',
                            type: "POST"
                        },
                        rowId: 'Id',
                        columns: [

                            { "title": "Id", "data": "Id", "visible": false },
                            { "title": "UserName", "data": "UserName", "searchable": true },
                            { "title": "CompanyName", "data": "CompanyName", "searchable": true },
                            { "title": "SMSText", "data": "SMSText", "searchable": true },

                            { "title": "CommandType", "data": "CommandType", "searchable": true },
                            { "title": "TextLength", "data": "TextLength", "searchable": true },
                            { "title": "Quantity", "data": "Quantity", "searchable": true },
                            { "title": "SendingDate", "data": "SendingDate", "searchable": false },
                            { "title": "Remarks", "data": "Remarks", "searchable": false }


                        ],
                        "order": [
                            [0, 'dsc']
                        ],
                    });


                });
    </script>
}
