@model Atrai.Core.ViewModel.ForgetPasswordOTPViewModel
@{
    ViewData["Title"] = "Home Page";
    //string weburl = ViewBag.weburl;
}

<div class="container pt-5 mt-5">


    <div id="allapps">
         <form id="myform" asp-action="EmailConfirmation" asp-controller="Home" method="post">
        <div class="container">
            <div class="align-items-center p-5">
                <div class="col-md-8 col-12">

                </div>
                <div class="form-group row">
                    <div class="col-md-6 col-12">


                        <h2 class="display-6 font-weight-bold">Please Check Your eMail To Confirm Your Account.</h2>
                        @*<p>Thanks for Register Your account . Check your email then click into the given link to activate your account and finalize your registration.</p>*@
                        <p>Thanks for Register Your account . Check your email For OTP to activate your account and finalize your registration.</p>



                    </div>

                    <div class="col-md-7 col-12">
                        <label asp-for="Email" class="control-label"></label>
                        <input type="Email" asp-for="Email" class="form-control" readonly />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="col-md-7 col-12">
                        <label asp-for="PhoneNo" class="control-label"></label>
                        <input type="text" asp-for="PhoneNo" class="form-control" readonly />
                        <span asp-validation-for="PhoneNo" class="text-danger"></span>
                    </div>
                    <div class="col-md-7 col-12">
                        <label asp-for="OTP" class="control-label"></label>
                        <input type="number" asp-for="OTP" class="form-control" />
                        <span asp-validation-for="OTP" class="text-danger"></span>
                        <span>
                         <a href="@Url.Action("ResendOTPEmailConfirmation", "Home", new { Email= @Model.Email , PhoneNo = @Model.PhoneNo } )">Did not get email or SMS? Resend</a>
                        </span>
                    </div>

                </div>
                <div class="form-group row">
                    <div class="col-md-3 col-12">
                        <button id="create" class="btn btn-info btn-block rounded-0" type="submit">Confirm</button>
                    </div>
                    <div class="col-md-3 col-12">
                        @Html.ActionLink("Go To Login Page", "Login", "Home", null, new { @class = "btn btn-sm btn-outline-info btn-block  rounded-0", @id = "btnBack" })
                    </div>
                </div>


            </div>
        </div>
        </form>
    </div>

</div>

@*<embed src="~/Content/ReportViewerFile/voterlistlifemember.pdf" width="800px" height="2100px" />*@
