@model Atrai.Core.ViewModel.LoginViewModel
@{ ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml"; 
}

<style>

    html, body {
        height: 100%;
    }

    body {
        background: #0f0e17;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    main {
        width: 60vw;
        padding: 80px;
        background: rgba(0, 0, 0, 0.2);
    }

    h1 {
        position: relative;
        color: #f25f4c;
    }

    .line {
        content: "";
        position: absolute;
        height: 2px;
        width: 100%;
        display: block;
        background-color: #f25f4c;
        bottom: calc(50% - 1px);
        animation: line 2000ms;
        animation-fill-mode: forwards;
        animation-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
        transform-origin: left;
        transform: translateX(0) scaleX(0);
    }

    .char {
        display: inline-block;
        position: relative;
        animation-duration: 2000ms;
        animation-fill-mode: forwards;
        animation-name: kern;
        animation-delay: calc(var(--char-index) * 5ms);
        animation-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
        opacity: 0;
    }


    @@keyframes line {
        45% {
            transform: translateX(0) scaleX(0);
        }

        70% {
            transform: translateX(0) scaleX(0.8);
        }

        100% {
            transform: translateX(100%) scaleX(0);
        }
    }

    @@keyframes kern {
        0%,
        70% {
            transform: translateX(calc((var(--char-index)) * 40px));
            opacity: 0;
        }

        80% {
            opacity: 1;
        }

        100% {
            transform: translateX(0);
            opacity: 1;
            animation-timing-function: none;
        }
    }
</style>

<div>
    <h2>Login</h2>
    <h1 data-splitting> Login <span class="line"></span></h1>


    <div class="row">

        <div class="col-md-8 col-12">
            @if (TempData["UserLoginFailed"] != null)
            {
            <p class="alert alert-danger">@TempData["UserLoginFailed"]</p>}
            <form asp-action="Login" asp-controller="Home" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label" style="color:wheat"></label>
                    <input asp-for="Email" class="form-control" style="border-radius:0px" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label" style="color:wheat"></label>
                    <input type="password" asp-for="Password" class="form-control" style="border-radius:0px" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-default btn-success rounded-0" />
                </div>
            </form>
        </div>
        <div class="col-md-4 col-12">




            <img src="~/Content/Images/login1.png" class="mx-auto" width="200" />







        </div>
    </div>

    <br />
    <br />

    <br />
    <br />
    <br />



</div>


@section scripts {
<script>
    //$("footer").hide();
</script>
}