@{
    ViewData["Title"] = "All books";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
@model IEnumerable<BookModel>
<div class="page-wrapper">
    <div class="container">
        <h3 class="display-4">All books</h3>
        <div class="row">

            @foreach (var book in Model)
            {
                <div class="col-md-4">
                    <partial name="_bookThumbnail" model="@book" />
                </div>
            }

        </div>
        <div class="row">
             @Html.ActionLink("Upload More Images", "AddnewBook", "Book", null, new { @class = "btn btn-default", @id = "btnuploadmore" })
        </div>

    </div>
</div>