/*style by shahinur 29 jan 24*/

.accordion-button:after {
    order: -1;
    margin-left: 0;
    margin-right: 0.5em;
    font-size: 1.25rem;
    margin-top:-7px;
}


.accordion-item:first-of-type {
    border-radius: 0;
}
.accordion{
--bs-accordion-btn-active-icon:url("data: image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e")!important;
}
.accordion-button:not(.collapsed) {
    color: inherit;
    background-color: inherit;
    box-shadow: inherit;
}

.accordion-button:focus {
    border-color: inherit;
    box-shadow: inherit;
}

.accordion-button:focus-visible {
    outline: 0;
}

#standard-view-id .accordion-item {
    background-color: #fff;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-top: 1px;
    border: 1px solid #d4d7dc;
    box-shadow: 2px 2px 2px #d4d7dc;
    overflow: hidden;
}

/*bottom sticky footer*/
.bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #393a3d;
    color: #fff;
    padding-top: 8px;
    padding-bottom: 8px;
    display: flex;
    justify-content: space-between;
    margin-left: 39px;
}

    .bottom-bar .list-group {
        --bs-list-group-color: #fff;
        --bs-list-group-bg: transparent;
        --bs-list-group-border-color: #6b6c72;
        border-radius:0!important;
    }
    .bottom-bar .list-group-horizontal > .list-group-item {
        cursor: pointer;
        border-top-width: 0;
        border-bottom-width: 0;
        border-left-width: 0;
    }
        .bottom-bar .list-group-horizontal > .list-group-item + .list-group-item {
            cursor: pointer;
            border-top-width: 0;
            border-bottom-width: 0;
            border-right-width: 0;
        }
    .bottom-bar .btn-group > .btn-group:not(:last-child) > .btn, .btn-group > .btn.dropdown-toggle-split:first-child, .btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
    }
.bottom-bar .btn-group > .btn-group:not(:first-child) > .btn, .btn-group > .btn:nth-child(n+3), .btn-group > :not(.btn-check) + .btn {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
/*    .bottom-bar .btn-group {
        border-radius: 50px 0 0 36px!important;
    }*/
/*color style*/
.red-text {
    color: white;
    background-color: red;
    padding: 5px;
    border-radius: 8px;
    font-weight: bold;
    font-style: italic;
}
.green-text {
    color: white;
    background-color: green;
    border-radius: 8px;
    padding: 5px;
    font-weight: bold;
    font-style: italic;
}
.tasks-heading {
    display: flex;
    flex-grow: 1;
    color: #393a3d;
    font-size: 20px;
    font-weight: bold;
}
.section-heading {
    color: #393a3d;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
    margin-top:10px;
    text-transform: uppercase;
}
.section-heading-c {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 500;
}
.section-heading-c-sub {
    color: #8d9096;
    font-size: 12px;
    line-height: 1.5;
}
    .quick-actions-heading {
        color: #393a3d;
        font-size: 20px;
        font-weight: bold;
        display: flex;
        align-items: center;
        flex-grow: 1;
    }
.section-visibility-btn {
    color: #0077c5;
    font-size: 14px;
    font-weight: 500;
}
#div-for-quick-actions1, #div-for-quick-actions2 {
    border-radius: 4px;
    margin-top: 8px;
    background: #f4f5f8;
    padding: 10px 0;
}

    #div-for-quick-actions a div::after, #div-for-quick-actions1 a div::after, #div-for-quick-actions2 a div::after {
        content: "\F4F9";
        font-family: "Bootstrap-icons";
        color: #57b520;
        position: relative;
        bottom: 25px;
        left: 65px;
    }

.divArea {
    border-radius: 4px;
    border: 1px solid rgb(212, 215, 220);
    box-shadow: rgb(227, 229, 232) 0px 4px 8px 0px;
    }
.bg-orange {
    background-color: #ff6a00;
    color:white;
}
.pl-text {
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    color: rgb(57, 58, 61);
    text-transform: uppercase;
}
.pl-text-sub{
    margin: 0px;
    padding: 0px;
    color: rgb(107, 108, 114);
    font-weight: 500;
    font-size: 1em;
    text-transform: none;
}
.pf-acc {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
    margin-right: 4px;
    color: rgb(57, 58, 61);
    align-items: center;
}
.prgs-title {
    color: rgb(57, 58, 61);
    cursor: pointer;
    line-height: 24px;
    font-size: 16px;
    font-weight: 600;
}
.prgs-sub {
    color: rgb(107, 108, 114);
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
}
.pg-title {
    color: rgb(57, 58, 61);
    font-weight:600;
}
.pg-title-green {
    color: rgb(0, 132, 129);
    font-weight: 600;
}
.button-report-sty {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    padding: 6px 20px;
    color: rgb(57, 58, 61);
    background: transparent;
    border:none;
}
.button-report-sty:hover {
    background: rgba(107, 108, 114, 0.25);
}

    .button-report-sty.dropdown-toggle::after {
        border: none !important;
        content: "\F282" !important;
        font-family: "Bootstrap-icons";
        vertical-align: -2px;
    }

    .custom-p{
        font-size:12px;
        font-weight:600;
    }
.f-label {
    font-weight: 600;
    line-height: 25px;
    font-size: 13px;
    color: #333333;
}