@model Atrai.Model.Core.Entity.Acc_VoucherTypeModel
@{
    ViewData["Title"] = "Voucher Type";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}
<style>
    .accordion-item{
        margin-bottom:30px;
        border: 1px solid rgba(0,0,0,.125)!important;
    }
    .accordion-item td{
       color: #8A8A8A;
       font-weight: 500;
font-size: 14px;
    }
     #reports-tab{
         border-bottom: 2px solid #F4F4F4;;
     }
      #reports-tab .nav-item:not(:last-child){
            border-right: 1px dashed #BABEC5;
    padding-right: 28px;
    }
    #reports-tab .nav-link {
        color: #D9D9D9;
    }
    #reports-tab .active{
        color: #414042;
        font-weight: 500;
font-size: 14px;
background-color:transparent;
/*border-bottom:2px solid #3777DB;
border-radius: 6px;*/
position: relative;
  padding-bottom:10px;
    }
    #reports-tab .active:after{
          content:'';
  position:absolute;
  bottom:0;
  left:0;
  right:0;
  background:#3777DB;
  height:4px;
  border-radius:6px;
    }
</style>

<div class="row">
    <div class="col-12 col-md-12">

        <div class="card">
            <div class="card-body">


                <div class="row">
                    <div class="col-md-12 mb-2">
                        <h4>
                            Reports
                        </h4>

                    </div>
                    <div class="row">
                        <div class="col-md-12 col-12">
                            <ul class="nav nav-pills mb-3" id="reports-tab" role="tablist">
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link active" id="reports-Standard-tab" data-bs-toggle="pill" data-bs-target="#reports-Standard" type="button" role="tab" aria-controls="reports-Standard" aria-selected="true">Standard</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="reports-CustomReports-tab" data-bs-toggle="pill" data-bs-target="#reports-CustomReports" type="button" role="tab" aria-controls="reports-CustomReports" aria-selected="false">Custom reports</button>
                                </li>
                                <li class="nav-item" role="presentation">
                                    <button class="nav-link" id="reports-ManagementReports-tab" data-bs-toggle="pill" data-bs-target="#reports-ManagementReports" type="button" role="tab" aria-controls="reports-ManagementReports" aria-selected="false">Management reports</button>
                                </li>

                            </ul>
                            <div class="tab-content" id="reports-tabContent">
                                <div class="tab-pane fade show active" id="reports-Standard" role="tabpanel" aria-labelledby="reports-Standard-tab" tabindex="0">

                                    <!--content start-->
                                    <div class="accordion" id="report-standard">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="headingOne">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    <h6> Favourite</h6>
                                                   
                                                </button>
                                            </h2>
                                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#report-standard">
                                                <div class="accordion-body">
                                                    <!--content body-->
                                                    <table class="table">

                                                        <tbody>
                                                            <tr>

                                                                <td>Accounts receivable ageing summary </td>
                                                         

                                                            </tr>
                                                            <tr>

                                                                <td>Balance Sheet</td>
                                                               

                                                            </tr>
                                                            <tr>

                                                                <td>Profit and Loss</td>

                                                            </tr>
                                                            
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="headingTwo">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    <h6>
                                                        Business overview

                                                    </h6>
                                                </button>
                                            </h2>
                                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#report-standard">
                                                <div class="accordion-body">
                                                    <!--content body-->
                                                    <table class="table">

                                                        <tbody>
                                                            <tr>

                                                                <td>Audit Log</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Balance Sheet</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Balance Sheet Summary</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Accounts receivable ageing summary </td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Profit and Loss</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Profit and Loss Details</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Balance Sheet Details</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Balance Sheet</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Profit and Loss</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Accounts receivable ageing summary </td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Balance Sheet</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Profit and Loss</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="headingThree">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    <h6> Who owes you</h6>
                                                   
                                                </button>
                                            </h2>
                                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#report-standard">
                                                <div class="accordion-body">
                                                        <!--content body-->
                                                    <table class="table">

                                                        <tbody>
                                                            <tr>

                                                                <td>Accounts receivalbe aging detail</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Accounts receivalbe aging summary</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Collections Report</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Customer Balance Detail </td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Customer Balance Summary</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Collections Report</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Customer Balance Detail</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Customer Balance Summary</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Invoice List</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="headingFour">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                    <h6> Sales and customers</h6>
                                                   
                                                </button>
                                            </h2>
                                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#report-standard">
                                                <div class="accordion-body">
                                                        <!--content body-->
                                                    <table class="table">

                                                        <tbody>
                                                            <tr>

                                                                <td>Customer Contact List</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Deposit Detail</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Estimates & Progress Invoicing Summary by customer</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Estimates by Customer </td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Income by Customer Summary</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Payment Method List</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Product/Service List</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Sales by customer Details</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--content end-->
                                </div>
                                <div class="tab-pane fade" id="reports-CustomReports" role="tabpanel" aria-labelledby="reports-CustomReports-tab" tabindex="0">
                                      <!--content start-->
                                    <div class="accordion" id="report-CustomReports">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="headingOne">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    <h6> Favourite</h6>
                                                   
                                                </button>
                                            </h2>
                                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#report-CustomReports">
                                                <div class="accordion-body">
                                                    <!--content body-->
                                                    <table class="table">

                                                        <tbody>
                                                            <tr>

                                                                <td>Accounts receivable ageing summary </td>
                                                         

                                                            </tr>
                                                            <tr>

                                                                <td>Balance Sheet</td>
                                                               

                                                            </tr>
                                                            <tr>

                                                                <td>Profit and Loss</td>

                                                            </tr>
                                                            
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="headingTwo">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    <h6>
                                                        Business overview

                                                    </h6>
                                                </button>
                                            </h2>
                                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#report-CustomReports">
                                                <div class="accordion-body">
                                                    <!--content body-->
                                                    <table class="table">

                                                        <tbody>
                                                            <tr>

                                                                <td>Audit Log</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Balance Sheet</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Balance Sheet Summary</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Accounts receivable ageing summary </td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Profit and Loss</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Profit and Loss Details</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Balance Sheet Details</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Balance Sheet</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Profit and Loss</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Accounts receivable ageing summary </td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Balance Sheet</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Profit and Loss</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="headingThree">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    <h6> Who owes you</h6>
                                                   
                                                </button>
                                            </h2>
                                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#report-CustomReports">
                                                <div class="accordion-body">
                                                        <!--content body-->
                                                    <table class="table">

                                                        <tbody>
                                                            <tr>

                                                                <td>Accounts receivalbe aging detail</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Accounts receivalbe aging summary</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Collections Report</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Customer Balance Detail </td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Customer Balance Summary</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Collections Report</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Customer Balance Detail</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Customer Balance Summary</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Invoice List</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="headingFour">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                    <h6> Sales and customers</h6>
                                                   
                                                </button>
                                            </h2>
                                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#report-CustomReports">
                                                <div class="accordion-body">
                                                        <!--content body-->
                                                    <table class="table">

                                                        <tbody>
                                                            <tr>

                                                                <td>Customer Contact List</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Deposit Detail</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Estimates & Progress Invoicing Summary by customer</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Estimates by Customer </td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Income by Customer Summary</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Payment Method List</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Product/Service List</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Sales by customer Details</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--content end-->
                                </div>
                                <div class="tab-pane fade" id="reports-ManagementReports" role="tabpanel" aria-labelledby="reports-ManagementReports-tab" tabindex="0">

                                     <!--content start-->
                                    <div class="accordion" id="report-ManagementReports">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="headingOne">
                                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                                    <h6> Favourite</h6>
                                                   
                                                </button>
                                            </h2>
                                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#report-ManagementReports">
                                                <div class="accordion-body">
                                                    <!--content body-->
                                                    <table class="table">

                                                        <tbody>
                                                            <tr>

                                                                <td>Accounts receivable ageing summary </td>
                                                         

                                                            </tr>
                                                            <tr>

                                                                <td>Balance Sheet</td>
                                                               

                                                            </tr>
                                                            <tr>

                                                                <td>Profit and Loss</td>

                                                            </tr>
                                                            
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="headingTwo">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                                    <h6>
                                                        Business overview

                                                    </h6>
                                                </button>
                                            </h2>
                                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#report-ManagementReports">
                                                <div class="accordion-body">
                                                    <!--content body-->
                                                    <table class="table">

                                                        <tbody>
                                                            <tr>

                                                                <td>Audit Log</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Balance Sheet</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Balance Sheet Summary</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Accounts receivable ageing summary </td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Profit and Loss</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Profit and Loss Details</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Balance Sheet Details</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Balance Sheet</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Profit and Loss</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Accounts receivable ageing summary </td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Balance Sheet</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Profit and Loss</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="headingThree">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                                    <h6> Who owes you</h6>
                                                   
                                                </button>
                                            </h2>
                                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#report-ManagementReports">
                                                <div class="accordion-body">
                                                        <!--content body-->
                                                    <table class="table">

                                                        <tbody>
                                                            <tr>

                                                                <td>Accounts receivalbe aging detail</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Accounts receivalbe aging summary</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Collections Report</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Customer Balance Detail </td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Customer Balance Summary</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Collections Report</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Customer Balance Detail</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Customer Balance Summary</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Invoice List</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="accordion-item">
                                            <h2 class="accordion-header" id="headingFour">
                                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                                    <h6> Sales and customers</h6>
                                                   
                                                </button>
                                            </h2>
                                            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#report-ManagementReports">
                                                <div class="accordion-body">
                                                        <!--content body-->
                                                    <table class="table">

                                                        <tbody>
                                                            <tr>

                                                                <td>Customer Contact List</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Deposit Detail</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Estimates & Progress Invoicing Summary by customer</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Estimates by Customer </td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Income by Customer Summary</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Payment Method List</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Product/Service List</td>
                                                                <td class="text-end">
                                                                    <span><i class="bi bi-star"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            <tr>

                                                                <td>Sales by customer Details</td>
                                                                <td class="text-end">
                                                                    <span class="rating-star"><i class="bi bi-star text-primary"></i></span>
                                                                    <span><i class="bi bi-three-dots-vertical"></i></span>
                                                                </td>

                                                            </tr>
                                                            
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--content end-->

                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
<script type="text/javascript">
$(document).ready(function() {
  $('td span').click(function() {
    $(this).find('.bi-star,.bi-star-fill').toggleClass('bi-star').toggleClass('bi-star-fill text-primary');
  });
});
</script>
 
}