@{
    ViewBag.Title = "Hello World";
}

<h1>Hello World!</h1>
<p>This is a sample CSHTML view.</p>
<button id="generate-pdf">Generate PDF</button>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(function () {
            $('#generate-pdf').click(function () {
                $.ajax({
                    url: '@Url.Action("GeneratePdf")',
                    type: 'POST',
                    dataType: 'json',
                    success: function (data) {
                        window.location.href = '@Url.Action("DownloadPdf")';
                    },
                    error: function (xhr, status, error) {
                        alert('An error occurred while generating the PDF.');
                    }
                });
            });
        });
    </script>
}
