@model List<VariableModel>

@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
    var ListType = ViewBag.ListType as string;
    var CompanyName = ViewBag.CompanyName as string;


}
<style>
    .toast-red {
        background-color: red !important;
        color: white; /* Set text color as needed */
    }
   /* .left-box {
      float:left;
    }
    .right-box {
    
      overflow: hidden;
    }*/
.btn-delete {
    position: absolute;
    left: 90%;
    bottom:85%;
    margin-top: 2px;
    cursor: pointer;
    background: none;
    border: none;
}
    #title {
         white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: 600;
        line-height: 20px;
        color: #393a3d;
        text-transform: uppercase;
        font-size: 14px !important;
        float: left;
        margin-left: 8px;
        margin-bottom: 0px;
    }
    #title-container {
        margin-top: 0;
        margin-bottom: 4px;
        line-height: 20px;
        color: #6b6c72;
        font-weight: 500;
        font-size: 14px;
        float:left;
        margin-left: 8px;
        margin-top:4px;
        margin-bottom: 0px;
    }
    #money-container {
        margin-top: 0;
        margin-bottom: 4px;
        line-height: 20px;
        color: black;
       
        float: left;
        margin-left: 8px;
        margin-top: 8px;
    }
    .image-container {
        position: relative; /* Make the container relative to position the check icon */
        width: 100px; /* Adjust to match the width of your images */
        height: 100px; /* Adjust to match the height of your images */
    }
    .compare-ul {
        list-style: none;
        padding: 0;
        text-align: left;
        display: inline-block;
        vertical-align: top; /* Align the lists to the top */
        margin-right: 20px;
    }
    .form-label {
        font-weight: 400!important;
        font-size: 12px;
        text-align: left;
    }

   
    .check-icon {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%; /* Make the check icon cover the entire container */
        height: 100%; /* Make the check icon cover the entire container */
    }

    hr {
        margin-top: 1rem;
        margin-bottom: 1rem;
        border: 1px solid!important;
        border-top: 1px solid rgba(0,0,0,.1);
    }

    .chart-type-img {
        width: 82px;
        height: 82px;
    }

    .chart-type {
        width: 100px;
        float: left;
    }
    .stacked-field {
        display:none!important;
    }
    .stacked-field-show {
      display:block!important;
    }
    .selected-chart {
        box-shadow: 0px 0px 5px 2px lightblue; /* Adjust the color to your preference */
    }
   .offcanvas-body .card {
        /* background: linear-gradient(135deg, #3498db, #ecf0f1); */
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin: auto;
        width: 70%;
        transition: transform 0.2s, box-shadow 0.2s;
        color: black;
        text-align: center;
        border: 0px solid;
    }

    .table-box {
        border: 1px solid;
        border-color: rgb(212, 215, 220) !important;
        padding: 10px;
        margin: 5px;
        box-sizing: border-box;
        border-radius: 10px;
        width: 30%;
        height: 250px;
        float: left;
        text-align: center;
        position: relative;
    }

    .center-content {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }


    .rightside {
        padding-left: 6%;
        overflow: hidden;
        /*width:60%;*/
    }

    .left {
        margin-right: 500px
    }


    .card p {
        margin-bottom: 20px;
    }

    .offcanvas-header {
        background-color: #ECEEF1;
    }

    .offcanvas-body {
        background-color: #F4F5F8;
        
    }
    .scrollb{
        overflow-y: auto; 
        height:100vh;
    }

   .cardsize{
       width:200px;
       height:160px;
   }
   .onsortenble{
        border: 5px solid black;
   }

    .card-img-top{
        width: 100px;
        height: 100px;
    }
</style>

<div class="container">
    <div class="row">
        <h3>Import Data</h3>
        <h6> Bring your existing data into Atrai</h6>

    </div>
       <div class="row my-2">

        @foreach (var item in Model)
        {
            <div class="col-3">
                <a asp-action="ImportDataType" asp-controller="Accounts" asp-route-type="@item.VariableValue">
                <div class="card cardsize">
                    <div class="card-body text-center">
                        <img src="@item.Icons" class="card-img-top" alt="">
                        <h6 class="card-title">@item.VariableName</h6>
                    </div>
                </div>
                </a>
            </div>
        }

</div>
</div>




@section Scripts{
    <script src="~/admin_theme_gtr/assets/js/shortable.js"></script>
    <script>
      


    </script>
}