body {
    font-family: 'Lato';
}
/*
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Catamaran';
    font-weight: 800 !important;
}*/

.btn-xl {
    text-transform: uppercase;
    padding: 1.5rem 3rem;
    font-size: 0.9rem;
    font-weight: 700;
    letter-spacing: 0.1rem;
}

.bg-black {
    background-color: #000 !important;
}

.rounded-pill {
    border-radius: 5rem;
}

.navbar-custom {
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgba(0, 0, 0, 0.7);
}

    .navbar-custom .navbar-brand {
        text-transform: uppercase;
        font-size: 1rem;
        letter-spacing: 0.1rem;
        font-weight: 700;
    }

    .navbar-custom .navbar-nav .nav-item .nav-link {
        text-transform: uppercase;
        font-size: 0.8rem;
        font-weight: 700;
        letter-spacing: 0.1rem;
    }

header.masthead {
    position: relative;
    overflow: hidden;
    padding-top: calc(7rem + 72px);
/*    padding-bottom: 7rem;*/
    background: linear-gradient(0deg, #ec0707 0%, #221453 100%);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
}

    header.masthead .masthead-content {
        z-index: 1;
        position: relative;
    }

        header.masthead .masthead-content .masthead-heading {
            font-size: 4rem;
        }

        header.masthead .masthead-content .masthead-subheading {
            font-size: 2rem;
        }

    header.masthead .bg-circle {
        z-index: 0;
        position: absolute;
        border-radius: 100%;
        background: linear-gradient(0deg, #a74274 0%, #201f3e 100%);
    }

    header.masthead .bg-circle-1 {
        height: 90rem;
        width: 90rem;
        bottom: -55rem;
        left: -55rem;
    }

    header.masthead .bg-circle-2 {
        height: 50rem;
        width: 50rem;
        top: -25rem;
        right: -25rem;
    }

    header.masthead .bg-circle-3 {
        height: 20rem;
        width: 20rem;
        bottom: -10rem;
        right: 5%;
    }

    header.masthead .bg-circle-4 {
        height: 30rem;
        width: 30rem;
        top: -5rem;
        right: 35%;
    }











header.mastheadOther {
    position: relative;
    overflow: hidden;
    padding-top: calc(7rem + 72px);
/*    padding-bottom: 7rem;*/
    background: linear-gradient(0deg, #ec0707 0%, #221453 100%);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
}

header.mastheadOther .mastheadOther-content {
    z-index: 1;
    position: relative;
}

header.mastheadOther .mastheadOther-content .mastheadOther-heading {
    font-size: 4rem;
}

header.mastheadOther .mastheadOther-content .mastheadOther-subheading {
    font-size: 2rem;
}
    header.mastheadOther .bg-circle {
        z-index: 0;
        position: absolute;
        border-radius: 0%;
        background: linear-gradient(#ffcb004a, #0116ff00);
/*        background: linear-gradient(#8c0d2a, #0116ff00)*/
    }

    header.mastheadOther .bg-circle-1 {
        height: 80rem;
        width: 42rem;
        bottom: -45rem;
        left: 2rem;
    }

    header.mastheadOther .bg-circle-2 {
        height: 17rem;
        width: 32rem;
        top: 7rem;
        right: 3rem;
    }

header.mastheadOther .bg-circle-3 {
    height: 10rem;
    width: 10rem;
    bottom: -10rem;
    right: 20%;
}

    header.mastheadOther .bg-circle-4 {
        height: 20rem;
        width: 32rem;
        top: -7rem;
        right: 39%;
    }

    header.mastheadOther .bg-circle-5 {
        height: 75rem;
        width: 28rem;
        top: 18rem;
        right: 6%;
        z-index: 0;
    }

    header.mastheadOther .bg-circle-6 {
        height: 40rem;
        width: 19rem;
        top: 6rem;
        right: 89%;
    }

@media (min-width: 992px) {
    header.masthead {
        padding-top: calc(10rem + 55px);
 /*       padding-bottom: 10rem;*/
    }

        header.masthead .masthead-content .masthead-heading {
            font-size: 6rem;
        }

        header.masthead .masthead-content .masthead-subheading {
            font-size: 4rem;
        }
}

.bg-primary {
    background-color: #ee0979 !important;
}

.btn-primary {
    background-color: #ee0979;
    border-color: #ee0979;
}

    .btn-primary:active, .btn-primary:focus, .btn-primary:hover {
        background-color: #bd0760 !important;
        border-color: #bd0760 !important;
    }

    .btn-primary:focus {
        box-shadow: 0 0 0 0.2rem rgba(238, 9, 121, 0.5);
    }

.btn-secondary {
    background-color: #ff6a00;
    border-color: #ff6a00;
}

    .btn-secondary:active, .btn-secondary:focus, .btn-secondary:hover {
        background-color: #cc5500 !important;
        border-color: #cc5500 !important;
    }

    .btn-secondary:focus {
        box-shadow: 0 0 0 0.2rem rgba(255, 106, 0, 0.5);
    }



/*.newbackground {
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 1242 2208' style='enable-background:new 0 0 1242 2208%3B' xml:space='preserve'%3E%3Cstyle type='text/css'%3E.st0%7Bfill:url(%23SVGID_1_)%3B%7D.st1%7Bfill:%23472B5E%3B%7D.st2%7Bfill:%23251440%3B%7D%3C/style%3E%3CradialGradient id='SVGID_1_' cx='431.2715' cy='814.8997' r='619.8103' gradientTransform='matrix(1 0 0 0.936 0 -241.1879)' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' style='stop-color:%23472B5E'/%3E%3Cstop offset='1' style='stop-color:%23170C36'/%3E%3C/radialGradient%3E%3Crect x='0.49' class='st0' width='1241.51' height='2208.33'/%3E%3Cpolygon class='st1' points='1137.58 2208.33 0.49 2208.33 0.49 1031.42 282.99 1323.81 '/%3E%3Cpolygon class='st2' points='305.03 1323.72 305.03 1323.81 1159.63 2208.33 1242 2208.33 1242 2032.48 '/%3E%3C/svg%3E");
}*/

header.css-selector {
    position: relative;
    overflow: hidden;
    padding-top: calc(7rem + 72px);
/*    padding-bottom: 7rem;*/
    background: linear-gradient(204deg, #221453 rgba(238, 9, 121, 0.5),#201f3e,#4800ff);
    background-size: 600% 600%;
    -webkit-animation: AnimationName 5s ease infinite;
    -moz-animation: AnimationName 4s ease infinite;
    -o-animation: AnimationName 5s ease infinite;
    animation: AnimationName 7s ease infinite;
}

@-webkit-keyframes AnimationName {
    0% {
        background-position: 0% 64%
    }

    50% {
        background-position: 100% 37%
    }

    100% {
        background-position: 0% 64%
    }
}

@-moz-keyframes AnimationName {
    0% {
        background-position: 0% 64%
    }

    50% {
        background-position: 100% 37%
    }

    100% {
        background-position: 0% 64%
    }
}

@-o-keyframes AnimationName {
    0% {
        background-position: 0% 64%
    }

    50% {
        background-position: 100% 37%
    }

    100% {
        background-position: 0% 64%
    }
}

@keyframes AnimationName {
    0% {
        background-position: 0% 64%
    }

    50% {
        background-position: 100% 37%
    }

    100% {
        background-position: 0% 64%
    }
}



header.animatedbackground {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}




