@model Atrai.Model.Core.ViewModel.ChangePasswordViewModel
@{
    ViewData["Title"] = "Password Recovery";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class=" mt-4 pt-4 ">
    <div class="row d-flex justify-content-center mt-4 pt-4">
        <div class="col-md-4 col-12">
            @Html.AntiForgeryToken()

            <form id="myform" asp-action="ConfirmPassword" asp-controller="Home" method="post">
                <div class="row justify-content-center">

            @Html.HiddenFor(model => model.EmailOrPhone);
                    <div class="col-md-12 my-4">
                        <div class="card shadow border-0 p-5">
                            <div class="card-body">
                                <h1 class="customHeadline">Set new password</h1>
                                <p class="text-center customSubHead">
                                    Your new password must be different to
                                    previously used passwords.
                                </p>
                                <div class="mb-3">

                                    <div class="mb-2">
                                        <label class="control-label customLebel">Password</label>
                                        <div class="input-group">
                                            <span class="input-group-text bg-white border-end-0"><i class="bi bi-lock"></i></span>
                                              <input type="password" asp-for="Password" class="form-control border-start-0 ps-0" placeholder="Type your password"  />

                                            @*<input type="password" class="form-control border-start-0 ps-0" placeholder="Enter your password" />*@
                                            <div asp-validation-for="Password" class="text-danger"></div>
                                        </div>

                                    </div>
                                    <div class="mb-2">
                                        <label class="control-label customLebel">Confirm Password</label>
                                        <div class="input-group">
                                            <span class="input-group-text bg-white border-end-0"><i class="bi bi-lock"></i></span>
                                              <input type="password" asp-for="ConfirmPassword" class="form-control border-start-0 ps-0" placeholder="Confirmed your password"  />
                                            @*<input type="password" class="form-control border-start-0 ps-0" placeholder="confirmed your password" />*@
                                            <div asp-validation-for="ConfirmPassword" class="text-danger"></div>
                                        </div>

                                    </div>
                                </div>
                                <div class="d-grid my-3">
                                    <button type="submit" class="btn btn-primary">Reset password</button>
                                </div>
                            </div>
                        </div>
                    </div>



                    @*        <div class="card p-0 col-md-5 col-12">
                    <div class="card-header">

                    <h3 style="text-align:center">Change Password</h3>
                    </div>

                    <div class="card-body">

                    @if (TempData["UserSignUpFailed"] != null)
                    {
                    <p class="alert alert-danger">@TempData["UserLoginFailed"]</p>            }
                    <form id="myform" asp-action="ConfirmPassword" asp-controller="Home" method="post">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                    <div class="form-group row">
                    <div class="col-md-12 col-12">
                    <label asp-for="EmailOrPhone" class="control-label"></label>
                    <input type="Email" asp-for="EmailOrPhone" class="form-control" readonly />
                    <span asp-validation-for="EmailOrPhone" class="text-danger"></span>
                    </div>
                    </div>
                    <div class="form-group row">
                    <div class="col-md-12 col-12">
                    <label asp-for="Password" class="control-label"></label>
                    <input type="Email" asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="col-md-12 col-12">
                    <label asp-for="ConfirmPassword" class="control-label"></label>
                    <input type="text" asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    </div>
                    </div>

                    <div class="form-group text-center">
                    @*<input type="submit" value="Signup" class="btn btn-default btn-success rounded-0" />
                    <button id="create" class="btn btn-warning btn-block rounded-0" type="submit">Reset</button>*@

                </div>
            </form>
        </div>
    </div>
</div>


@section scripts {
    <script type="text/javascript">



        $(document).ready(function() {

        });


    </script>
}

