@model Atrai.Model.Core.ViewModel.ForgetPasswordViewModel
@{ ViewData["Title"] = "Reset Password";
                Layout = "~/Views/Shared/_Layout.cshtml"; }




    @Html.AntiForgeryToken()

<div class=" mt-4 pt-4 ">
    <div class="row d-flex justify-content-center mt-4 pt-4">
        <div class="col-md-4 col-12">



                @if (TempData["UserSignUpFailed"] != null)
                {
                <p class="alert alert-danger">@TempData["UserLoginFailed"]</p>            }
                <form id="myform" asp-action="ForgetPassword" asp-controller="Home" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>


                  <div class="col-md-12 my-4">
                    <div class="card shadow border-0 p-5">
                    <div class="card-body">
                        <h1 class="customHeadline">Forgot password?</h1>
                        <p class="text-center customSubHead">
                            No worries we’ll send you reset instructions.
                        </p>
                        <div class="mb-3">
                            <label class="control-label customLebel">Email</label>
                            <div class="input-group">
                                <span class="input-group-text bg-white border-end-0"><i class="bi bi-envelope"></i></span>
                                <input asp-for="EmailOrPhone" class="form-control border-start-0 p-2" placeholder="Enter your email" />
                                <div asp-validation-for="Email" class="text-danger"></div>
                            </div>
                        </div>
                        <div class="d-grid my-3">
                                <button class="btn btn-primary" type="submit">Reset password</button>
                        </div>
                    </div>
                    </div>
                </div>


               @* <div class="form-group row">
                    <div class="col-md-12 col-12">
                        <label asp-for="Email" class="control-label"></label>
                        <input type="Email" asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="col-md-12 col-12">
                        <label asp-for="PhoneNo" class="control-label"></label>
                        <input type="text" asp-for="PhoneNo" class="form-control" />
                        <span asp-validation-for="PhoneNo" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row text-center">
                    <div class="col-md-6 col-6 my-1">
                        <button id="create" class="btn btn-info btn-block rounded-0" type="submit">Submit</button>
                    </div>

                    <div class="col-md-6 col-6 my-1">
                        @Html.ActionLink("Back", "Login", "Home", null, new { @class = "btn btn-sm btn-outline-info btn-block  rounded-0", @id = "btnBack" })
                    </div>

                </div>*@
                </form>
            </div>



    </div>



    <br />




  
</div>



