@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<style>
    ul li{
    display:inline-block;
    }

</style>

@{ ViewData["Title"] = "Home Page";
    //string weburl = ViewBag.weburl;
    string weburl = HttpContextAccessor.HttpContext.Session.GetString("weburl");// ViewBag.weburl;
}

@if (weburl.ToLower().Contains("w2u.io"))
{
<div id="urlshortener">

    <header class="css-selector mastheadOther text-center text-white">
        <div class="mastheadOther-content">
            <div class="pb-5 mb-2">
                <img src="~/images/w2u.png" style="width:150px;position: relative;top: 16px; right:60px;">
            </div>
            <img src="~/adminFront/img/w2ubackground.jpg" width="55%" />
        </div>
        <div class="bg-circle-1 bg-circle"></div>
        <div class="bg-circle-2 bg-circle"></div>
        <div class="bg-circle-3 bg-circle"></div>
        <div class="bg-circle-4 bg-circle"></div>
        <div class="bg-circle-5 bg-circle"></div>
        <div class="bg-circle-6 bg-circle"></div>

        

    </header>


    <section style="background-color : #d9d7d7">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 order-lg-2">
                    <div class="p-5">
                        <img class="img-fluid" src="~/adminFront/img/CreateURL.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6 order-lg-1">
                    <div class="p-5">
                        <h2 class="display-4 font-weight-bold">Manage URL</h2>
                        <p>Easily manage and create new Short URL just by paste the desired Link.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="p-5">
                        <img class="img-fluid" src="~/adminFront/img/UrLList.png" alt="">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="p-5">
                        <h2 class="display-4">Report </h2>
                        <p>View Nice and Clean report .</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div> }
else
{
@*<header class="masthead text-center text-white">
    <div class="masthead-content">
        <img src="~/adminFront/img/a.png" width="80%" />
    </div>
    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>

</header>*@
                <div id="allapps">
                    <br>
                    <br>
        <br>

                    

                <section style="background-color : #d9d7d7">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-6 order-lg-2">
                                <div class="p-5">
                            <img class="img-fluid" src="~/adminFront/img/Accounts.svg" alt="">
                                </div>
                            </div>
                            <div class="col-lg-6 order-lg-1">
                                <div class="p-5">
                                    <p class="display-5 font-weight-bold">Manage Accounts</p>
                                    <p>Easily manage your Expense , income and Invoice with Integrated Accounting System.</p>



                                    <ul>
                                <li>Chart Of Accounts ||</li>
                                <li>Voucher Entry || </li>
                                <li>Ledger Report || </li>
                                <li>Trial Balance || </li>
                                <li>Income Statement || </li>
                                <li>Balance Sheet || </li>
                                <li>Linkable Report || </li>
                                <li>Month Wise Expense Summary || </li>
                                <li>Drill Down Report</li>
                                    </ul>



                                </div>
                            </div>
                        </div>
                    </div>
                </section>


                    <section>
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <img class="img-fluid" src="~/adminFront/img/Inventory.png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <h2 class="display-5 font-weight-bold">Manage Inventory </h2>
                                        <p>Maintain Inventory and Its Valuation Smoothly.</p>

                                    <ul>
                                        <li>Product Entry  ||</li>
                                        <li>Live Stock || </li>
                                        <li>Re-order Level || </li>
                                        <li>Low Stock || </li>
                                        <li>Multiwarehouse Management || </li>
                                        <li>Stock Valualtion || </li>
                                        <li>Average Costing Calculation </li>
                                    </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section style="background-color : #d9d7d7">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg-6 order-lg-2">
                                    <div class="p-5">
                                        <img class="img-fluid" src="~/adminFront/img/sales.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-6 order-lg-1">
                                    <div class="p-5">
                                        <h2 class="display-5 font-weight-bold">Manage Sales</h2>
                                        <p>Easily manage create new sale just by searching though select products and the amount of quantity</p>


                            <ul>
                                <li>Make Invoice Within 5 Seconds  ||</li>
                                <li>Quotation || </li>
                                <li>Due history || </li>
                                <li>Summary View || </li>
                                <li>Sales Return || </li>
                                <li>Customer Ledger || </li>
                                <li>Top Valued Customer </li>
                            </ul>


                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section>
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <img class="img-fluid" src="~/adminFront/img/c.png" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="p-5">
                                        <h2 class="display-4 font-weight-bold">Sales Report </h2>
                                        <p>Generate Nice and Clean sales report, currently 2 sales report are available A4 page and small pages </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    <section style="background-color : #d9d7d7">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg-6 order-lg-2">
                                    <div class="p-5">
                                        <img class="img-fluid " src="~/adminFront/img/EasySetup.jpg" alt="">
                                    </div>
                                </div>
                                <div class="col-lg-6 order-lg-1">
                                    <div class="p-5">
                                        <h2 class="display-4 font-weight-bold">Easy Setup and Configure</h2>
                                        <p>For small businesses, it can be easily configureable to setup company, products. then it can manage customer and sales invoice and track sales and print invoices for customers </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>}
@*<embed src="~/Content/ReportViewerFile/voterlistlifemember.pdf" width="800px" height="2100px" />*@

