@page {
    size: 7in 9.25in;
    margin: 27mm 16mm 27mm 16mm;
}


div.chapter, div.appendix {
    page-break-after: always;
}



div.titlepage {
    page: blank;
}


html {
/*    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 0.9em;*/
    color: black !important;
}


@media print {
    @page {
        size: 297mm 210mm; /* landscape */
        /* you can also specify margins here: */
        margin: 25mm;
        margin-right: 45mm; /* for compatibility with both A4 and Letter */
    }
}