@model IEnumerable<Atrai.Core.Entity.EmployeeModel>
@{
    ViewData["Title"] = "Employee List";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

<div class="container-fluid">
    <div class="page-wrapper">

        <div class="text-center">
            <div class="row mb-2">
                <div class="col-md-3 col-12">
                    @Html.ActionLink("Employee Creation", "CreateEmpInfo", null, null, new { @class = "btn btn-outline-info btn-block rounded-0", @id = "btnBack" })
                </div>
                <div class="col-md-9 col-12">
                    <h2 id="styletext">Employee List</h2>
                </div>
            </div>
        </div>

        <form class="card p-2 table-responsive">
            <table id="tbllist" class="table table-striped table-bordered table-sm  table-hover" cellspacing="0" width="100%">
                <thead>
                    <tr></tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr></tr>
                </tfoot>

            </table>
            <br />
        </form>
    </div>
</div>



@section Scripts{

    <script>
        var table;
        function CurrentDate(da) {
            var date = new Date(da);
            var months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul",
                "Aug", "Sep", "Oct", "Nov", "Dec"];
            var val = date.getDate() + "-" + months[date.getMonth()] + "-" + date.getFullYear();
            return val;
        }

        $(document).ready(function() {
            table = $('#tbllist').DataTable({

                dom: '<"dom_wrapper fh-fixedHeader"lBf>tip',
                //buttons: [
                //    'copy', 'csv', 'excel', 'pdf'
                //],
                buttons: {
                    dom: {
                        button: {
                            className: 'btn rounded-0'
                        }
                    },
                    buttons: [
                        //{
                        //    extend: 'colvis',
                        //    "columns": ':not(:last-child)',
                        //    text: '<i class="mdi mdi-view-column"></i>',
                        //    className: 'btn-info',
                        //    titleAttr: 'Show / hide columns'
                        //},
                        //{
                        //    extend: 'copy',
                        //    text: '<i class="mdi mdi-content-copy"></i>',
                        //    className: 'btn-primary',
                        //    titleAttr: 'Copy to Clipboard',
                        //    exportOptions: {
                        //        modifer: {
                        //            page: 'all',
                        //            search: 'none'
                        //        }
                        //    }
                        //},
                        //{
                        //    extend: 'csv',
                        //    text: '<i class="mdi mdi-note-outline"></i>',
                        //    className: 'btn-secondary',
                        //    titleAttr: 'Export to csv',
                        //    exportOptions: {
                        //        modifer: {
                        //            page: 'all',
                        //            search: 'none'
                        //        }
                        //    }
                        //},
                        {
                            extend: 'excel',
                            text: '<i class="mdi mdi-file-excel"></i>',
                            className: 'btn-success',
                            titleAttr: 'Export to excel',
                            exportOptions: {
                                modifer: {
                                    page: 'all',
                                    search: 'none'
                                }
                            }
                        },
                        {
                            extend: 'pdfHtml5',
                            orientation: 'landscape',
                            pageSize: 'LEGAL',
                            text: '<i class="mdi mdi-file-pdf"></i>',
                            className: 'btn-danger mr-1',
                            titleAttr: 'Export to PDF',
                            exportOptions: {
                                modifer: {
                                    page: 'all',
                                    search: 'none'
                                }
                            }
                        }
                    ]
                },
                "ajax": {
                    "url": "@Url.Action("Get", "HRVariable")",
                    "type": "POST",
                    "datatype": "json"
                },
                "columns": [
                    { "title": "Employee Code", "data": "EmpCode", "visible": true },
                    { "title": "Employee Name", "data": "EmpName", "visible": true },
                    { "title": "Designation", "data": "DesigName", "visible": true },
                    { "title": "Department", "data": "DeptName", "visible": true },
                    { "title": "Section", "data": "SectName", "visible": true },
                    { "title": "EmpType", "data": "EmpType", "visible": true },
                    //{ "title": "Join Date", "data": "DtJoin", "visible": true, search: false },
                    {
                        "data": "DtJoin", "title": "Join Date",
                        "render": function(data, type, row) {
                            //console.log(CurrentDate(data));
                            return CurrentDate(data);
                        }

                    },
                    { "title": "Email", "data": "Email", "visible": true },
                    {
                        "data": { EmpId: "EmpId" },
                        "render": function(data, type, row) {

                            var myUrledit = '@Url.Action("EditEmpInfo", "HRVariable")/' + data.EmpId;
                            var myUrldelete = '@Url.Action("DeleteEmpInfo", "HRVariable")/' + data.EmpId;

                            return '<span data-toggle="tooltip" title="Edit"> <a href=\"' + myUrledit + '\" class=\"fa fa-edit btn btn-warning btn-xs\" target=\"_blank\"></a></span>' +
                                '<span data-toggle="tooltip" title="Delete"> <a href=\"' + myUrldelete + '\" class=\"fa fa-trash btn btn-danger btn-xs\" target=\"_blank\"></a></span>';


                        }
                    }
                ],
                "order": [0, "desc"],
                "processing": true,
                "language": {
                    "processing": "processing... please wait",
                    sLengthMenu: " _MENU_",
                    search: "",
                    searchPlaceholder: "Search..."
                },
                "serverSide": true,
                "processing": true,
                "orderCellsTop": true,
                "scrollX": true,
                "scrollY": "60vh",
                "scrollCollapse": true,
                "info": true,
                "destroy": true
            });
        });
    </script>
}



