
html.atrai-blue-theme .sidebar-wrapper,
html.atrai-blue-theme .sidebar-wrapper .iconmenu,
html.atrai-blue-theme .sidebar-wrapper .iconmenu .nav-toggle-box,
html.atrai-blue-theme .sidebar-wrapper .textmenu,
html.atrai-blue-theme .sidebar-wrapper .textmenu .brand-logo {
    background-color: #3777DB;
}

    html.atrai-blue-theme .sidebar-wrapper,
    html.atrai-blue-theme .sidebar-wrapper .iconmenu {
        border-right: 1px solid rgb(255 255 255 / 12%);
    }

        html.atrai-blue-theme .sidebar-wrapper .iconmenu .nav-toggle-box,
        html.atrai-blue-theme .sidebar-wrapper .textmenu .brand-logo,
        html.atrai-blue-theme .sidebar-wrapper .textmenu .list-group .list-group-item {
            border-bottom: 1px solid rgb(255 255 255 / 12%);
            color: #fcfcfc;
        }


            html.atrai-blue-theme .sidebar-wrapper .textmenu .list-group .list-group-item:hover {
                background-color: #202a40;
                transition: all 0.2s;
            }


            html.atrai-blue-theme .sidebar-wrapper .iconmenu .nav-pills .nav-link,
            html.atrai-blue-theme .sidebar-wrapper .iconmenu .nav-toggle-box .nav-toggle-icon {
                color: #fcfcfc;
                background-color: transparent;
            }

                html.atrai-blue-theme .sidebar-wrapper .iconmenu .nav-pills .nav-link.active, html.atrai-blue-theme .iconmenu .nav-pills .show > .nav-link {
                    color: #fff;
                    background-color: #0d6efd;
                }

html.atrai-blue-theme .brand-logo img {
    filter: invert(1) grayscale(100%) brightness(200%);
}
