@model Atrai.Core.Entity.BusinessTypeModel
@{
    ViewData["Title"] = "AddBusinessType";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}

@*<link href="~/AdminEla/Assets/css/floatingLable.css" rel="stylesheet" />*@




        <!-- Start Page Content -->
        <div class="row">
            <div class="col-md-6 col-12">
                <div class="card">
                    <div class="card-header">
                <h6 class="text-uppercase">New Business Type</h6>

                    </div>

                        @*@Html.HiddenFor(m => m.Id, new { @value = Model.Id })
                        @Html.HiddenFor(m => m.CreateDate, new { @value = Model.CreateDate })
                        @Html.HiddenFor(m => m.LuserId, new { @value = Model.LuserId })*@

                    <div class="card-body">
                        <div class="basic-elements">
                            <form asp-controller="admin" asp-action="AddBusinessType" method="post" class="needs-validation" novalidate>
                                @if (Model != null)
                                {
                                    <input type="hidden" asp-for="Id" />
                                    <input type="hidden" asp-for="CreateDate" />

                                    @*<input type="hidden" asp-for="LuserId" />*@
                                }
                                else
                                {
                                    <input type="hidden" asp-for="Id" value="0" />
                                }




                                <div class="row">
                                    <div class="col-md-12 col-12">

                                        <div class="row">
                                            <div class="col-md-12 col-12">
                                                <div class="form-floating mb-3">
                                                    <input type="text" asp-for="BusinessTypeName" class="form-control" placeholder=" " required autofocus>
                                                    <label asp-for="BusinessTypeName"></label>
                                                    <span asp-validation-for="BusinessTypeName" class="text-danger"></span>
                                                </div>
                                            </div>


                                            <div class="col-md-12 col-12">
                                             <div class="form-floating mb-3">
                                                    <input type="text" asp-for="AppsName" class="form-control" placeholder=" " autocomplete="off">
                                                    <label asp-for="AppsName"></label>
                                                    <span asp-validation-for="AppsName" class="text-danger"></span>
                                                </div>
                                            </div>


                                            <div class="col-md-12 col-12">
                                               <div class="form-floating mb-3">
                                                    <input type="text" asp-for="BusinessTypeRemarks" class="form-control" placeholder=" " autocomplete="off">
                                                    <label asp-for="BusinessTypeRemarks"></label>
                                                    <span asp-validation-for="BusinessTypeRemarks" class="text-danger"></span>
                                                </div>
                                            </div>



                                              <div class="col-md-12 col-12">
                                        <div class="form-check">
                                            <input type="checkbox" asp-for="IsAccounts" class="form-check-input">
                                            <label asp-for="IsAccounts" class="form-check-label"></label>
                                                    <span asp-validation-for="IsAccounts" class="text-danger"></span>
                                                </div>
                                            </div>


                                            <div class="col-md-12 col-12">
                                        <div class="form-check">
                                            <input type="checkbox" asp-for="IsDealerBasedOrganization" class="form-check-input">
                                            <label asp-for="IsDealerBasedOrganization" class="form-check-label"></label>
                                                    <span asp-validation-for="IsDealerBasedOrganization" class="text-danger"></span>
                                                </div>
                                            </div>
                                            

                                            
                                            <div class="col-md-12 col-12">
                                        <div class="form-check">
                                            <input type="checkbox" asp-for="IsWalton" class="form-check-input">
                                            <label asp-for="IsWalton" class="form-check-label"></label>
                                                    <span asp-validation-for="IsWalton" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-md-12 col-12">
                                        <div class="form-check">
                                            <input type="checkbox" asp-for="IsMarcel" class="form-check-input">
                                            <label asp-for="IsMarcel" class="form-check-label"></label>
                                                    <span asp-validation-for="IsMarcel" class="text-danger"></span>
                                                </div>
                                            </div>

                                          



                                            <div class="col-md-6 col-12">
                                                @*<button type="submit" class="btn btn-primary rounded-0"> Save Changes </button>*@
                                                @if (ViewBag.ActionType == "Create")
                                                {
                                                    <input type="submit" value="Save Changes" class="btn  btn-primary rounded-0" />
                                                }
                                                else if (ViewBag.ActionType == "Edit")
                                                {
                                                    <input type="submit" value="Update Changes" class="btn btn-warning rounded-0" />
                                                }
                                                else if (ViewBag.ActionType == "Delete")
                                                {
                                                    <button class="btn btn-danger rounded-0" type="button" onclick="Bank_delete()">Delete</button>
                                                }
                                                @Html.ActionLink("Back", "BusinessTypeList", "Admin", null, new { @class = "btn btn-info rounded-0", @id = "btnBack" })
                                            </div>







                                        </div>


                                        @*  <div class="col-md-9 col-12 text-center">

                                            <label asp-for="BusinessTypeName"></label>
                                            <input type="text" asp-for="BusinessTypeName" class="form-control" placeholder="eg Enter BusinessType">
                                            <span asp-validation-for="BusinessTypeName" class="text-danger"></span>

                                            </div>

                                            <div class="col-md-3 col-12 text-center">

                                            <label asp-for="AppsName"></label>
                                            <input asp-for="AppsName" class="form-control" placeholder="Apps Name">
                                            <span asp-validation-for="AppsName" class="text-danger"></span>

                                            </div>



                                            <div class="col-md-9 col-12 text-center">

                                            <label asp-for="BusinessTypeRemarks"></label>
                                            <input asp-for="BusinessTypeRemarks" class="form-control" placeholder="Description">
                                            <span asp-validation-for="BusinessTypeRemarks" class="text-danger"></span>

                                            </div>


                                            <div class="col-md-3 col-12 text-center">
                                            <label asp-for="IsInActive"></label>
                                            <input asp-for="IsInActive" class="form-control" type="checkbox">
                                            <span asp-validation-for="IsInActive" class="text-danger"></span>
                                            </div>*@

                                    </div>





                                    @*<div class="row text-center m-2">
                                        <br />
                                        <div class="col-md-1"></div>
                                        <div class="col-md-4 col-xs-12 d-block mx-auto">

                                        @if (ViewBag.ActionType == "Create")
                                        {
                                        <input type="submit" value="Save" class="btn  btn-success btn-block  rounded-0" />
                                        }
                                        else if (ViewBag.ActionType == "Edit")
                                        {
                                        <input type="submit" value="Update" class="btn btn-warning btn-block rounded-0" />
                                        }
                                        else if (ViewBag.ActionType == "Delete")
                                        {
                                        <button class="btn btn-danger btn-block rounded-0" type="button" onclick="Bank_delete()">Delete</button>
                                        }


                                        </div>

                                        <div class="col-md-4 col-xs-12 d-block mx-auto">
                                        @Html.ActionLink("Back", "BusinessTypeList", "Admin", null, new { @class = "btn btn-info btn-block rounded-0", @id = "btnBack" })

                                        </div>
                                        <div class="col-md-3"></div>

                                        </div>*@
                                </div>


                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->


<script>
    
    
    (function() {
  'use strict';
  window.addEventListener('load', function() {
    // Fetch all the forms we want to apply custom Bootstrap validation styles to
    var forms = document.getElementsByClassName('needs-validation');
    // Loop over them and prevent submission
    var validation = Array.prototype.filter.call(forms, function(form) {
      form.addEventListener('submit', function(event) {
        if (form.checkValidity() === false) {
          event.preventDefault();
          event.stopPropagation();
        }




//        var elements = document.getElementById("my-form").elements;

//for (var i = 0, element; element = elements[i++];) {
//    if (element.type === "text" && element.value === "")
//        console.log("it's an empty textfield")
//}


        //$.each( form, function( index, value ){
        //    //sum += value;
        //     //console.log($(this));
        //     //console.log(value);


        //     $(this).each(function() {
        //      $.each(this.attributes, function() {



        //        // this.attributes is not a plain object, but an array
        //        // of attribute nodes, which contain both the name and value
        //        if(this.specified) {
        //          //console.log(this.name, this.value);
                  
        //          if (this.name == "data-val-required" && this.value.contains('required'))
        //          {
        //          alert('hit');
        //          }

        //        }
        //      });
        //    });


        //     //var x = $(this).attr("aria-invalid");
        //     ////var x  = value.attr("aria-invalid").val();
        //     //alert(x);
        //});





        form.classList.add('was-validated');
      }, false);
    });
  }, false);
})();
    </script>