@model Atrai.Core.Entity.BrandModel
@{
    ViewData["Title"] = "AddBrand";
    @if (ViewBag.IsPartialView == 1)
    {
        Layout = "~/Views/Shared/_PrintLayout.cshtml";

    }
    else
    {
        Layout = "~/Views/Shared/_adminLayout.cshtml";
        
    }
}


<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-md-8 col-12">
                <div class="card">
                    <div class="card-header py-1">
                        <h4>New Brand</h4>

                    </div>

                    @*@Html.HiddenFor(m => m.Id, new { @value = Model.Id })
                    @Html.HiddenFor(m => m.CreateDate, new { @value = Model.CreateDate })
                    @Html.HiddenFor(m => m.LuserId, new { @value = Model.LuserId })*@

                    <div class="card-body">
                        <div class="basic-elements">
                            <form asp-controller="admin" asp-action="AddBrand" method="post">
                                @if (Model != null)
                                {
                                    <input type="hidden" asp-for="Id" />
                                    <input type="hidden" asp-for="CreateDate" />
                                    <input type="hidden" asp-for="LuserId" />
                                    <input type="hidden" asp-for="IsPartialView" />

                                    
                                }
                                else
                                {
                                    <input type="hidden" asp-for="Id" value="0" />
                                }

                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="form-group">
                                            <label asp-for="BrandName"></label>
                                            <input type="text" asp-for="BrandName" class="form-control" placeholder="eg Enter Brand">
                                            <span asp-validation-for="BrandName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Description"></label>
                                            <input asp-for="Description" class="form-control" placeholder="Description">
                                            <span asp-validation-for="Description" class="text-danger"></span>
                                        </div>

                               


                                        <div class="form-group">
                                            @*<button type="submit" class="btn btn-primary rounded-0"> Save Changes </button>*@


                                            @if (ViewBag.ActionType == "Create")
                                            {
                                    <input type="submit" value="Save Changes" class="btn  btn-primary rounded-0" /> }
                                else if (ViewBag.ActionType == "Edit")
                                {
                                    <input type="submit" value="Update Changes" class="btn btn-warning rounded-0" /> }
                                else if (ViewBag.ActionType == "Delete")
                                {
                                    <button class="btn btn-danger rounded-0" type="button" onclick="Bank_delete()">Delete</button>}

                                     @if (ViewBag.IsPartialView != 1)
                                     {
                                            @Html.ActionLink("Back", "BrandList", "Admin", null, new { @class = "btn btn-info rounded-0", @id = "btnBack" })
                                     }
                                        </div>


                                        @*<div class="row text-center m-2">
            <br />
            <div class="col-md-1"></div>
            <div class="col-md-4 col-xs-12 d-block mx-auto">

                @if (ViewBag.ActionType == "Create")
                {
                    <input type="submit" value="Save" class="btn  btn-success btn-block  rounded-0" />
                }
                else if (ViewBag.ActionType == "Edit")
                {
                    <input type="submit" value="Update" class="btn btn-warning btn-block rounded-0" />
                }
                else if (ViewBag.ActionType == "Delete")
                {
                    <button class="btn btn-danger btn-block rounded-0" type="button" onclick="Bank_delete()">Delete</button>
                }


            </div>

            <div class="col-md-4 col-xs-12 d-block mx-auto">
                @Html.ActionLink("Back", "BrandList", "Admin", null, new { @class = "btn btn-info btn-block rounded-0", @id = "btnBack" })

            </div>
            <div class="col-md-3"></div>

        </div>*@
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
</div>