@model Atrai.Core.Entity.ColorModel
@{
    ViewData["Title"] = "AddColor";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}


<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header py-1">
                        <h4>New Color</h4>

                    </div>

                    @*@Html.HiddenFor(m => m.Id, new { @value = Model.Id })
                    @Html.HiddenFor(m => m.CreateDate, new { @value = Model.CreateDate })
                    @Html.HiddenFor(m => m.LuserId, new { @value = Model.LuserId })*@

                    <div class="card-body">
                        <div class="basic-elements">
                            <form asp-controller="admin" asp-action="AddColor" method="post">
                                @if (Model != null)
                                {
                                    <input type="hidden" asp-for="Id" />
                                    <input type="hidden" asp-for="CreateDate" />
                                    @*<input type="hidden" asp-for="LuserId" />*@
                                }
                                else
                                {
                                    <input type="hidden" asp-for="Id" value="0" />
                                }

                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="form-group">
                                            <label asp-for="ColorName"></label>
                                            <input type="text" asp-for="ColorName" class="form-control" placeholder="eg Enter Color Name">
                                            <span asp-validation-for="ColorName" class="text-danger"></span>
                                        </div>

                                        <div class="form-group row">
                                            <label asp-for="ColorShortName"></label>
                                            <input type="text" asp-for="ColorShortName" class="form-control" placeholder="AB">
                                            <span asp-validation-for="ColorShortName" class="text-danger"></span>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-md-10 col-10">
                                                <label asp-for="ColorCode"></label>
                                                <input type="text" asp-for="ColorCode" class="form-control" placeholder="eg Enter Color Code">
                                                <span asp-validation-for="ColorCode" class="text-danger"></span>
                                            </div>
                                           
                                                @if (@Model != null)
                                                {
                                                <div class="col-md-2 col-2" style="background-color:@Model.ColorCode">
                                              
                                                </div>
                                                }
                                        </div>

                                        <div class="form-group">
                                            <label asp-for="isInactive"></label>
                                            <input asp-for="isInactive" class="form-control">
                                            <span asp-validation-for="isInactive" class="text-danger"></span>
                                        </div>

                                        <div class="form-group">
                                            @*<button type="submit" class="btn btn-primary rounded-0"> Save Changes </button>*@


                                            @if (ViewBag.ActionType == "Create")
                                            {
                                                <input type="submit" value="Save Changes" class="btn  btn-primary rounded-0" /> }
                                            else if (ViewBag.ActionType == "Edit")
                                            {
                                                <input type="submit" value="Update Changes" class="btn btn-warning rounded-0" /> }
                                            else if (ViewBag.ActionType == "Delete")
                                            {
                                                <button class="btn btn-danger rounded-0" type="button" onclick="Bank_delete()">Delete</button>}


                                            @Html.ActionLink("Back", "ColorList", "Admin", null, new { @class = "btn btn-info rounded-0", @id = "btnBack" })

                                        </div>


                                        @*<div class="row text-center m-2">
            <br />
            <div class="col-md-1"></div>
            <div class="col-md-4 col-xs-12 d-block mx-auto">

                @if (ViewBag.ActionType == "Create")
                {
                    <input type="submit" value="Save" class="btn  btn-success btn-block  rounded-0" />
                }
                else if (ViewBag.ActionType == "Edit")
                {
                    <input type="submit" value="Update" class="btn btn-warning btn-block rounded-0" />
                }
                else if (ViewBag.ActionType == "Delete")
                {
                    <button class="btn btn-danger btn-block rounded-0" type="button" onclick="Bank_delete()">Delete</button>
                }


            </div>

            <div class="col-md-4 col-xs-12 d-block mx-auto">
                @Html.ActionLink("Back", "ColorList", "Admin", null, new { @class = "btn btn-info btn-block rounded-0", @id = "btnBack" })

            </div>
            <div class="col-md-3"></div>

        </div>*@
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
</div>