@model Atrai.Core.Entity.Cat_DepartmentModel
@{
    ViewData["Title"] = "AddDepartment";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}


<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-md-8 col-12">
                <div class="card">
                    <div class="card-header py-1">
                        <h4>New Department</h4>

                    </div>

                    @*@Html.HiddenFor(m => m.Id, new { @value = Model.Id })
                    @Html.HiddenFor(m => m.CreateDate, new { @value = Model.CreateDate })
                    @Html.HiddenFor(m => m.LuserId, new { @value = Model.LuserId })*@

                    <div class="card-body">
                        <div class="basic-elements">
                            <form asp-controller="admin" asp-action="AddDepartment" method="post">
                                @if (Model != null)
                                {
                                    <input type="hidden" asp-for="Id" />
                                    <input type="hidden" asp-for="CreateDate" />
                                    <input type="hidden" asp-for="LuserId" />
                                }
                                else
                                {
                                    <input type="hidden" asp-for="Id" value="0" />
                                }

                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="row">
                                    <div class="col-md-6">

                    
                                            <label asp-for="DeptCode"></label>
                                            <input type="text" asp-for="DeptCode" class="form-control" placeholder="eg Enter Department Code">
                                            <span asp-validation-for="DeptCode" class="text-danger"></span>
                                        </div>

                                           <div class="col-md-6">
                                         
                                            <label asp-for="Slno"></label>
                                            <input type="number" asp-for="Slno" class="form-control">
                                            <span asp-validation-for="Slno" class="text-danger"></span>
                                        </div>

      <div class="col-md-12">
                                            <label asp-for="DeptName"></label>
                                            <input type="text" asp-for="DeptName" class="form-control" placeholder="eg Enter Department Name">
                                            <span asp-validation-for="DeptName" class="text-danger"></span>
                                        </div>
                                
      <div class="col-md-12">
                                            <label asp-for="DeptBangla"></label>
                                            <input type="text" asp-for="DeptBangla" class="form-control" placeholder="eg Enter Department Bangla">
                                            <span asp-validation-for="DeptBangla" class="text-danger"></span>
                                        </div>
                      

                                        
                                      <div class="col-md-12 my-3">

                                            @if (ViewBag.ActionType == "Create")
                                            {
                                    <input type="submit" value="Save Changes" class="btn  btn-primary rounded-0" /> }
                                else if (ViewBag.ActionType == "Edit")
                                {
                                    <input type="submit" value="Update Changes" class="btn btn-warning rounded-0" /> }
                                else if (ViewBag.ActionType == "Delete")
                                {
                                    <button class="btn btn-danger rounded-0" type="button" onclick="Bank_delete()">Delete</button>}


                                            @Html.ActionLink("Back", "DepartmentList", "Admin", null, new { @class = "btn btn-info rounded-0", @id = "btnBack" })

                                        </div>


                                    </div>

                                        </div>
                                        </div>



                          




                          
                       


                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
</div>