@model Atrai.Core.Entity.EmailSettingModel
@{
    ViewData["Title"] = "AddEmailSetting";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}


<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-md-8 col-12">
                <div class="card">
                    <div class="card-header py-1">
                        <h4>New EmailSetting</h4>

                    </div>

                    @*@Html.HiddenFor(m => m.Id, new { @value = Model.Id })
                    @Html.HiddenFor(m => m.CreateDate, new { @value = Model.CreateDate })
                    @Html.HiddenFor(m => m.LuserId, new { @value = Model.LuserId })*@

                    <div class="card-body">
                        <div class="basic-elements">
                            <form asp-controller="admin" asp-action="AddEmailSetting" method="post">
                                @if (Model != null)
                                {
                                    <input type="hidden" asp-for="Id" />
                                    <input type="hidden" asp-for="CreateDate" />
                                    <input type="hidden" asp-for="LuserId" />
                                }
                                else
                                {
                                    <input type="hidden" asp-for="Id" value="0" />
                                }

                                <div class="row">
                                    <div class="col-md-8 col-12">
                                        <div class="form-group">
                                            <label asp-for="Sender"></label>
                                            <input type="text" asp-for="Sender" class="form-control" placeholder="eg system@gtrbd.com ; info@dominatebd.com">
                                            <span asp-validation-for="Sender" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Password"></label>
                                            <input asp-for="Password" class="form-control">
                                            <span asp-validation-for="Password" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="SenderName"></label>
                                            <input asp-for="SenderName" class="form-control" placeholder="System">
                                            <span asp-validation-for="SenderName" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="MailServer"></label>
                                            <input asp-for="MailServer" class="form-control" placeholder="mail.dominatebd.com ; smtp.office365.com">
                                            <span asp-validation-for="MailServer" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="MailPort"></label>
                                            <input asp-for="MailPort" class="form-control" placeholder="587">
                                            <span asp-validation-for="MailPort" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="Remarks"></label>
                                            <input asp-for="Remarks" class="form-control" placeholder="Remarks / Desc.">
                                            <span asp-validation-for="Remarks" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <label asp-for="IsActive"></label>
                                            <input asp-for="IsActive" class="form-control">
                                            <span asp-validation-for="IsActive" class="text-danger"></span>
                                        </div>


                                        <div class="form-group">

                                            @if (ViewBag.ActionType == "Create")
                                            {
                                    <input type="submit" value="Save Changes" class="btn  btn-primary rounded-0" /> }
                                else if (ViewBag.ActionType == "Edit")
                                {
                                    <input type="submit" value="Update Changes" class="btn btn-warning rounded-0" /> }
                                else if (ViewBag.ActionType == "Delete")
                                {
                                    <button class="btn btn-danger rounded-0" type="button" onclick="Bank_delete()">Delete</button>}


                                            @Html.ActionLink("Back", "EmailSettingList", "Admin", null, new { @class = "btn btn-info rounded-0", @id = "btnBack" })

                                        </div>

                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
</div>