@model Atrai.Core.Entity.ShortLinkModel
@{
    ViewData["Title"] = "AddShortLink";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}


<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h4>New Short Link</h4>

                    </div>

                    <div class="card-body">
                        <div class="basic-elements">
                            <form asp-controller="admin" asp-action="AddShortLink" method="post">
                                @if (Model != null)
                                {
                                    <input type="hidden" asp-for="Id" />
                                    <input type="hidden" asp-for="CreateDate" />
                                    <input type="hidden" asp-for="LuserId" />
                                }
                                else
                                {
                                    <input type="hidden" asp-for="Id" value="0" />
                                }

                            <div class="row">
                                <div class="col-md-12 col-12">

                                    <div class="row">
                                            <div class="form-group col-md-8 col-12">
                                                <label asp-for="Name"></label>
                                                <textarea class="form-control" asp-for="Name" placeholder="Enter Name / Referance"></textarea>
                                                <span asp-validation-for="Name" class="text-danger"></span>
                                            </div>
                                        <div class="form-group col-md-8 col-12">
                                            <label asp-for="Url"></label>
                                            <textarea class="form-control" asp-for="Url" rows="7" placeholder="Enter Desired URL With https"></textarea>
                                            <span asp-validation-for="Url" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row text-center m-2">
                                        <br />
                                        <div class="col-md-1"></div>
                                        <div class="col-md-4 col-xs-12 d-block mx-auto m-2">
                                            @*<button type="submit" class="btn btn-success"> Save Changes </button>*@


                                            @if (ViewBag.ActionType == "Create")
                                            {
                                                <input type="submit" value="Save" class="btn  btn-success btn-block  rounded-0" />
                                            }
                                            else if (ViewBag.ActionType == "Edit")
                                            {
                                                <input type="submit" value="Update" class="btn btn-warning btn-block rounded-0" />
                                            }
                                            else if (ViewBag.ActionType == "Delete")
                                            {
                                                <button class="btn btn-danger btn-block rounded-0" type="button" onclick="Bank_delete()">Delete</button>
                                            }


                                        </div>

                                        <div class="col-md-4 col-xs-12 d-block mx-auto m-2">
                                            @Html.ActionLink("Back", "ShortLinkList", "Admin", null, new { @class = "btn btn-info btn-block rounded-0", @id = "btnBack" })

                                        </div>
                                        <div class="col-md-3"></div>

                                    </div>

                                </div>

                                    </div>

                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
</div>