@model Atrai.Core.Entity.Cat_SectionModel
@{
    ViewData["Title"] = "AddSection";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}


<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-md-8 col-12">
                <div class="card">
                    <div class="card-header py-1">
                        <h4>New Section</h4>

                    </div>

                    <div class="card-body">
                        <div class="basic-elements">
                            <form asp-controller="admin" asp-action="AddSection" method="post">
                                @if (Model != null)
                                {
                                    <input type="hidden" asp-for="Id" />
                                    <input type="hidden" asp-for="CreateDate" />
                                    <input type="hidden" asp-for="LuserId" />
                                }
                                else
                                {
                                    <input type="hidden" asp-for="Id" value="0" />
                                }

                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="row">


                                           <div class="col-md-6">
                                         
                                            <label asp-for="Slno"></label>
                                            <input type="number" asp-for="Slno" class="form-control">
                                            <span asp-validation-for="Slno" class="text-danger"></span>
                                        </div>

      <div class="col-md-12">
                                            <label asp-for="SectName"></label>
                                            <input type="text" asp-for="SectName" class="form-control" placeholder="eg Enter Section Name">
                                            <span asp-validation-for="SectName" class="text-danger"></span>
                                        </div>
                                
      <div class="col-md-12">
                                            <label asp-for="SectNameB"></label>
                                            <input type="text" asp-for="SectNameB" class="form-control" placeholder="eg Enter Section Bangla">
                                            <span asp-validation-for="SectNameB" class="text-danger"></span>
                                        </div>
                      

                                              <div class="col-md-12">
                                            @Html.LabelFor(x => x.DeptId)
                                            @Html.DropDownListFor(x => x.DeptId,
                                                                                  new SelectList((IEnumerable<SelectListItem>)ViewBag.DeptId, "Value", "Text"), "Select Department",
                                                                                  htmlAttributes: new { @class = "form-control", id = "DeptId" })
                                            @Html.ValidationMessageFor(x => x.DeptId, "", new { @class = "text-danger" })
                                        </div>


                                        
                                      <div class="col-md-12 my-3">

                                            @if (ViewBag.ActionType == "Create")
                                            {
                                    <input type="submit" value="Save Changes" class="btn  btn-primary rounded-0" /> }
                                else if (ViewBag.ActionType == "Edit")
                                {
                                    <input type="submit" value="Update Changes" class="btn btn-warning rounded-0" /> }
                                else if (ViewBag.ActionType == "Delete")
                                {
                                    <button class="btn btn-danger rounded-0" type="button" onclick="Bank_delete()">Delete</button>}


                                            @Html.ActionLink("Back", "SectionList", "Admin", null, new { @class = "btn btn-info rounded-0", @id = "btnBack" })

                                        </div>


                                    </div>

                                        </div>
                                        </div>



                          




                          
                       


                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
</div>