@model Atrai.Core.Entity.VGMModel
@{
    ViewData["Title"] = "AddVGM";
    Layout = "~/Views/Shared/_adminLayout.cshtml";
}


<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header py-1">
                        <h4>New VGM</h4>

                    </div>

                    @*@Html.HiddenFor(m => m.Id, new { @value = Model.Id })
                    @Html.HiddenFor(m => m.CreateDate, new { @value = Model.CreateDate })
                    @Html.HiddenFor(m => m.LuserId, new { @value = Model.LuserId })*@

                    <div class="card-body">
                        <div class="basic-elements">
                            <form asp-controller="admin" asp-action="AddVGM" method="post">
                                @if (Model != null)
                                {
                                    <input type="hidden" asp-for="Id" />
                                    <input type="hidden" asp-for="CreateDate" />
                                    <input type="hidden" asp-for="LuserId" />
                                }
                                else
                                {
                                    <input type="hidden" asp-for="Id" value="0" />
                                }

                            <div class="row">
                                <div class="col-md-8 col-12">

                                    <div class="row">
                                        <div class="form-group col-md-6 col-12">
                                            <label asp-for="VGANo"></label>
                                            <input type="text" asp-for="VGANo" class="form-control" placeholder="">
                                            <span asp-validation-for="VGANo" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-6 col-12">
                                            <label asp-for="VGAMethod"></label>
                                            <input type="text" asp-for="VGAMethod" class="form-control" placeholder="">
                                            <span asp-validation-for="VGAMethod" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6 col-12">

                                            <label asp-for="ContainerNo"></label>
                                            <input type="text" asp-for="ContainerNo" class="form-control" placeholder="">
                                            <span asp-validation-for="ContainerNo" class="text-danger"></span>

                                        </div>
                                        <div class="form-group col-md-6 col-12">

                                            <label asp-for="ContainerType"></label>
                                            <input type="text" asp-for="ContainerType" class="form-control" placeholder="">
                                            <span asp-validation-for="ContainerType" class="text-danger"></span>

                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="form-group col-md-6 col-12">

                                            <label asp-for="ContainerSize"></label>
                                            <input type="text" asp-for="ContainerSize" class="form-control" placeholder="">
                                            <span asp-validation-for="ContainerSize" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-6 col-12">

                                            <label asp-for="TareWeight"></label>
                                            <input type="text" asp-for="TareWeight" class="form-control" placeholder="">
                                            <span asp-validation-for="TareWeight" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-6 col-12">
                                            <label asp-for="VerifiedGrossMass"></label>
                                            <input type="text" asp-for="VerifiedGrossMass" class="form-control" placeholder="">
                                            <span asp-validation-for="VerifiedGrossMass" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-6 col-12">
                                            <label asp-for="PreviouslyDeclaredweight"></label>
                                            <input type="text" asp-for="PreviouslyDeclaredweight" class="form-control" placeholder="">
                                            <span asp-validation-for="PreviouslyDeclaredweight" class="text-danger"></span>
                                        </div>



                                        <div class="form-group col-md-6 col-12">
                                            <label asp-for="VGMWeightbyCPA"></label>
                                            <input type="text" asp-for="VGMWeightbyCPA" class="form-control" placeholder="">
                                            <span asp-validation-for="VGMWeightbyCPA" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-6 col-12">
                                            <label asp-for="NameofShipper"></label>
                                            <input type="text" asp-for="NameofShipper" class="form-control" placeholder="">
                                            <span asp-validation-for="NameofShipper" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-6 col-12">
                                            <label asp-for="ShippingAgent"></label>
                                            <input type="text" asp-for="ShippingAgent" class="form-control" placeholder="">
                                            <span asp-validation-for="ShippingAgent" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-6 col-12">
                                            <label asp-for="VGMPerformedShipperBy"></label>
                                            <input type="text" asp-for="VGMPerformedShipperBy" class="form-control" placeholder="">
                                            <span asp-validation-for="VGMPerformedShipperBy" class="text-danger"></span>
                                        </div>


                                        <div class="form-group col-md-6 col-12">
                                            <label asp-for="WeightBridgeRegistrationNo"></label>
                                            <input type="text" asp-for="WeightBridgeRegistrationNo" class="form-control" placeholder="">
                                            <span asp-validation-for="WeightBridgeRegistrationNo" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-6 col-12">
                                            <label asp-for="AddressOfWeightBridge"></label>
                                            <input type="text" asp-for="AddressOfWeightBridge" class="form-control" placeholder="">
                                            <span asp-validation-for="AddressOfWeightBridge" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-6 col-12">
                                            <label asp-for="IssuedBy"></label>
                                            <input type="text" asp-for="IssuedBy" class="form-control" placeholder="">
                                            <span asp-validation-for="IssuedBy" class="text-danger"></span>
                                        </div>
                                        <div class="form-group col-md-6 col-12">
                                            <label asp-for="Notes"></label>
                                            <input asp-for="Notes" class="form-control" type="tel" placeholder="Enter Notes">
                                            <span asp-validation-for="Notes" class="text-danger"></span>
                                        </div>
                                    </div>


                                    <div class="row text-center m-2">
                                        <br />
                                        <div class="col-md-1"></div>
                                        <div class="col-md-4 col-xs-12 d-block mx-auto m-2">
                                            @*<button type="submit" class="btn btn-success"> Save Changes </button>*@


                                            @if (ViewBag.ActionType == "Create")
                                            {
                                                <input type="submit" value="Save" class="btn  btn-success btn-block  rounded-0" />
                                            }
                                            else if (ViewBag.ActionType == "Edit")
                                            {
                                                <input type="submit" value="Update" class="btn btn-warning btn-block rounded-0" />
                                            }
                                            else if (ViewBag.ActionType == "Delete")
                                            {
                                                <button class="btn btn-danger btn-block rounded-0" type="button" onclick="Bank_delete()">Delete</button>
                                            }


                                        </div>

                                        <div class="col-md-4 col-xs-12 d-block mx-auto m-2">
                                            @Html.ActionLink("Back", "VGMList", "Admin", null, new { @class = "btn btn-info btn-block rounded-0", @id = "btnBack" })

                                        </div>
                                        <div class="col-md-3"></div>

                                    </div>

                                </div>
                                    </div>

</form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End PAge Content -->
    </div>
</div>