@*@model IEnumerable<Atrai.Core.Entity.Loging InfoModel>*@
@{ ViewData["Title"] = "Loging Information";
    Layout = "~/Views/Shared/_adminLayout.cshtml"; }

<div class="page-wrapper">
    <div class="container-fluid">
        <!-- Start Page Content -->
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="">
                          <h4 class="card-header">Transaction Log List</h4>
                    </div>

                    <div class="card-body">


                        <div class="table-responsive m-t-10">
                            <table id="tbllist" class="display nowrap table table-sm table-hover  table-bordered" cellspacing="0" width="100%">
                            </table>
                        </div>



                    </div>
                </div>

            </div>
        </div>
        <!-- End PAge Content -->
    </div>
</div>



@section Scripts{

    <script type="text/javascript">
                $(function () {
                    var peopleList = $('#tbllist').DataTable({

                        serverSide: true,  "scrollX": true,
                        processing: true,

                        ajax: {
                            url: '@Url.Action("GetUserTransactionLogList", "Admin")',
                            type: "POST"
                        },
                        rowId: 'Id',
                        columns: [



                            { "title": "Id", "data": "Id", "visible": false },
                            { "title": "UserName", "data": "UserName", "searchable": true },
                            { "title": "CompanyName", "data": "CompanyName", "searchable": true },
                            { "title": "WebLink", "data": "WebLink", "searchable": true },

                            { "title": "TransactionStatement", "data": "TransactionStatement", "searchable": true },
                            { "title": "ControllerName", "data": "ControllerName", "searchable": true },
                            { "title": "ActionName", "data": "ActionName", "searchable": true },
                            { "title": "IPAddress", "data": "IPAddress", "searchable": true },

                            { "title": "DocumentReferance", "data": "DocumentReferance", "searchable": true },
                            { "title": "CommandType", "data": "CommandType", "searchable": true },
                            { "title": "FromDateTime", "data": "FromDateTime", "searchable": false },
                            { "title": "FlagValue", "data": "FlagValue", "searchable": false }


                        ],
                        "order": [
                            [0, 'dsc']
                        ],
                    });


                });
    </script>
}
