@{ ViewData["Title"] = "Payment";
    Layout = "~/Views/Shared/_adminLayout.cshtml"; }

<style>

    #bKashFrameWrapper {
        height: 550px;
    }
</style>

<head>
</head>
<body>

    <button id="bKash_button">Pay With bKash</button>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#basicExampleModal">
        Launch demo modal
    </button>

    <div class="modal fade" id="basicExampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

</body>


<script type="text/javascript">

    $.getScript("https://scripts.sandbox.bka.sh/versions/1.2.0-beta/checkout/bKash-checkout-sandbox.js")
        .done(function (script) {
            bKash.init({

                paymentMode: 'checkout',
                paymentRequest: { amount: "20", intent: "sale" },
                createRequest: function (request) {

                    var createResponseData = createpayment();

                    bKash.create().onSuccess(JSON.parse(createResponseData));
                    bKash.create().onError();

                },
                executeRequestOnAuthorization: function () {

                    var createResponseData = executepayment();
                    window.location.href = '@Url.Action("MonthlyList", "CustomerSerial" , new { monthid = 0, yearid = 0 })';
                    bKash.execute().onError();

                },
                onClose: function () {
                }
            });
        });


        function createpayment() {
            var paymentid;
            var MyAppUrlSettings = {
                MyUsefulUrl: '@Url.Action("createpayment", "License")'
            }

            $.ajax({
                type: 'POST',
                url: MyAppUrlSettings.MyUsefulUrl,
                dataType: 'json',
                async: false,
                success: function (Productss) {
                    paymentid = Productss;

                },
                error: function (ex) {
                    alert('Failed.' + ex);
                }
            });
            return paymentid;

        };

        function executepayment() {
            var paymentid;
            var MyAppUrlSettings = {
                MyUsefulUrl: '@Url.Action("executepayment", "License")'
            }



            $.ajax({
                type: 'POST',
                url: MyAppUrlSettings.MyUsefulUrl,
                dataType: 'json',
                async: false,
                success: function (Productss) {
                    alert('executepayment');
                },
                error: function (ex) {
                    alert('Failed.' + ex);
                }
            });
            return paymentid;

        };


</script>
