#mediaUpdateForm .form-control {
    min-height: 42px;
    padding: 7px 9px;
    border-radius: 0px;
    border: 1px solid #ededed;
}

div[su-media-section] .set-selected-media {
    position: relative;
}

div[su-media-section] {
    width: fit-content;
    display: inline-block;
}

.btn-xs {
    padding: 0.15rem 0.4rem;
    font-size: 0.85rem;
}

    div[su-media-section] div i {
        display: none;
    }
    div[su-media-section] .set-selected-media i {
        display: block;
        position: absolute;
        top: -5px;
        left: -5px;
        background: #fff;
        height: 25px;
        border-radius: 8px;
        width: 25px;
        box-shadow: 0 0 3px #7e7e7e;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        color: #e5473b;
        border: 2px solid #efefef;
        transition: transform .4s;
    }

        div[su-media-section] .set-selected-media i:hover {
            transform: scale(1.05);
        }

.image-checkbox {
    transition: transform .4s;
    cursor: pointer;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 3px solid transparent;
    box-shadow: 0 0 4px #ccc;
    outline: 0;
    border-radius: 10px;
}

    .image-checkbox:hover {
        transform: scale(1.05);
    }

.image-checkbox-checked {
    border-color: #2196f3;
}

.image-checkbox img {
    border-radius: 7px;
} 

.image-checkbox i {
    display: none;
    color: #2196f3;
}

.image-checkbox-checked {
    position: relative;
}

    .image-checkbox-checked i {
        display: block;
        position: absolute;
        top: 8px;
        right: 8px;
    }

img[su-media-preview] {
    width: 80px;
    height: 80px;
    object-fit: cover;
    box-shadow: 0 0 4px #ccc;
    border: 3px solid #ffffff00;
    border-radius: 8px;
}

/*.media-image img {
    transition: transform .4s;
    border: 3px solid #ffffff00;
    box-shadow: 0 0 4px #ccc;
    border-radius: 10px;
    cursor: pointer;
}

    .media-image img:hover {
        transform: scale(1.05);
    }

.image-selected {
    border: 3px solid #2196f3 !important;
}
*/
.nav-tabs .nav-link {
    margin-bottom: -2px;
    color: #141414;
}


.nav-tabs {
    border-bottom: 2px solid #cccccc42;
}

    .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
        color: #2196f3;
        background-color: #fff;
        border: 2px solid;
        border-color: #cccccc42 #cccccc42 #fff;
    }

    .nav-tabs .nav-link:hover {
        border: 2px solid;
        border-color: #cccccc42 #cccccc42 #fff;
    }

.form-control, .image-name, .image-size {
    font-size: .875rem;
}

.amsify-suggestags-input-area .amsify-select-tag.col-bg {
    background: #efefef;
    color: #2c2a2a;
    border-radius: 5px;
}

.dropzone {
    width: 100%;
    margin: auto;
    min-height: 300px;
    border: 4px dashed #ddd;
    /*background: #f6f6f6;*/
    margin-top: 85px;
}

/*    .dropzone .dz-message i {
        text-align: center;
        display: block;
        color: #e7615c;
        font-size: 5rem;
    }
*/
    .dropzone .dz-message button {
        color: #bdbdbd;
    }

    .dropzone .dz-preview .dz-remove {
        color: #de3f34;
    }

.btn-upload {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}

.media-container::-webkit-scrollbar {
    width: 8px;
}

.media-container::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    /*border-radius: 100px;*/
}

.media-container::-webkit-scrollbar-thumb {
    background-color: #3f6791;
    border-radius: 100px;
}

